## Le code en Python qui nous a permis de calculer chacune des réponses aux questions 1 à 14.

Imporation des librairies Pandas et numpy

In [1]:
import numpy as np
import pandas as pd 
import random
import math

In [2]:
# Importons les fichier csv animaux, vegetaux, population, sousalimentation et cereales avec la librerie 
# pandas en utilisant la foncion "read.csv"

animaux = pd.read_csv("C:/Users/Utilisateur/FAO_2013_fr/fr_animaux.csv")
vegetaux = pd.read_csv("C:/Users/Utilisateur/FAO_2013_fr/fr_vegetaux.csv")
population = pd.read_csv("C:/Users/Utilisateur/FAO_2013_fr/fr_population.csv")
sous_nutrition = pd.read_csv("C:/Users/Utilisateur/FAO_2013_fr/fr_sousalimentation.csv")
cereales = pd.read_csv("C:/Users/Utilisateur/FAO_2013_fr/fr_cereales.csv")

# Question 1 :

Créez un dataframe contenant les informations de population de chaque pays. Calculez le nombre total d’humains sur la planète. Critiquez votre résultat. En cas d’anomalie, analysez et effectuer les corrections nécessaires.

Donnez le résultat de votre calcul pour l'année 2013.

In [3]:
# Nous allons travailler avec le dataframe population 
#  1)  On regarde ce que contient le dataframe avec la fonction "describe()"
population.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,175.000000,175.0,175.0,175.0,175.0,1.750000e+02
mean,126.720000,511.0,2501.0,2013.0,2013.0,4.807996e+04
std,75.168519,0.0,0.0,0.0,0.0,1.786327e+05
min,1.000000,511.0,2501.0,2013.0,2013.0,5.400000e+01
25%,64.500000,511.0,2501.0,2013.0,2013.0,2.543500e+03
50%,121.000000,511.0,2501.0,2013.0,2013.0,9.413000e+03
75%,188.500000,511.0,2501.0,2013.0,2013.0,2.888150e+04
max,351.000000,511.0,2501.0,2013.0,2013.0,1.416667e+06

In [4]:
# 2) Puis on va regarder les 5 premiers éléments du dataframe

population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

A partir de ce dataframe, nous pouvons dire que la clé primaire est "code_zone". Cette clé identifie tous les éléments de chaque colonne.

In [5]:
# Nous allons renomer les colonnes du dataframe population 
population_df = population.rename(columns= { "Code Domaine": "code_domaine","Domaine": "domaine", "Code zone": 
                                            "code_zone","Zone": "zone","Code Élément": "code_element", "Élément": 
                                            "element","Code Produit": "code_produit", "Produit": "produit",
                                          "Code année": "code_annee", "Année": "annee","Unité": "unite",
                                         "Valeur": "valeur", "Symbole": "symbole","Description du Symbole": 
                                            "description_symbole"})
population_df.head(3)

,code_domaine,domaine,code_zone,zone,code_element,element,code_produit,produit,code_annee,annee,unite,valeur,symbole,description_symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle

In [6]:
# On va regarder de près ce que contient les données de la colonne "Description du symbole"
population_df.description_symbole.unique()

array(['Donnée officielle',
       'Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées'],
      dtype=object)

In [7]:
# Nous allons faire un mask pour avoir que les données officielles dans la colonne Description_Symbole 
#du dataframe Population_df. Ce mask nous permet de supprimer toutes les données [Agrégat, 
#peut inclure des données officielles, semi-officielles, estimées ou calculées] 

population_df_mask = population_df['description_symbole']=='Donnée officielle'
filtered_population_df = population_df[population_df_mask]
filtered_population_df.head()

,code_domaine,domaine,code_zone,zone,code_element,element,code_produit,produit,code_annee,annee,unite,valeur,symbole,description_symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

In [8]:
#Calcul du nombre total d’humains par pays 
filtered_population_df['Population_totale'] = 1000 * filtered_population_df["valeur"]
filtered_population_df.head()

<ipython-input-8-4ea66ff82f80>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_population_df['Population_totale'] = 1000 * filtered_population_df["valeur"]

,code_domaine,domaine,code_zone,zone,code_element,element,code_produit,produit,code_annee,annee,unite,valeur,symbole,description_symbole,Population_totale
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle,52776000
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle,3173000
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle,39208000
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle,82727000

In [9]:
Population_mondiale_2013= filtered_population_df.Population_totale.sum()
Population_mondiale_2013

6997326000

In [10]:
Pop_mondiale = 6997326000
message = "En 2013, la population mondiale était de %s Personnes"
print(message % Pop_mondiale)

En 2013, la population mondiale était de 6997326000 Personnes

# Question 2 :

Parmi les documents sur les Bilans alimentaires que vous avez téléchargés, il y a des informations redondantes. En effet, pour un pays donné, certaines de ces informations peuvent se calculer à partir d'autres :

Production 

Importations

Exportations 

Variation de stock 

Disponibilité intérieure 

Semences 

Pertes 

Nourriture, aussi appelée Disponibilité alimentaire 

Aliments pour animaux 

Traitement

Autres utilisations 
 
Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique (pas besoin de coder ici). C'est une équation à 3 termes de type \(a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]\) ) faisant intervenir chacune des 11 quantités données ci dessus. Illustrez cette équation avec l'exemple du blé en France.

## Nous allons travailler en premier sur le dataframe animaux

In [11]:
# On regarde rapidement ce que contient notre dataframe animaux
animaux.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,37166.000000,37166.000000,37166.000000,37166.0,37166.0,37166.000000
mean,126.800839,3511.032718,2758.421191,2013.0,2013.0,148.291647
std,74.767139,2332.283315,27.454449,0.0,0.0,1933.728473
min,1.000000,645.000000,2731.000000,2013.0,2013.0,-1368.000000
25%,63.000000,674.000000,2736.000000,2013.0,2013.0,0.000000
50%,121.000000,5142.000000,2762.000000,2013.0,2013.0,1.000000
75%,189.000000,5511.000000,2767.000000,2013.0,2013.0,11.000000
max,351.000000,5911.000000,2848.000000,2013.0,2013.0,135600.000000

In [12]:
# On regarde ensuite la composition de notre fichier, les 5 premiers éléments
animaux.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée

In [13]:
# Nous allons renommer les colonnes du dataframe animaux
animaux_df = animaux.rename(columns ={ "Code Domaine": "code_domaine","Domaine": "domaine","Code zone": "code_zone",
                                           "Zone": "zone","Code Élément": "code_element", "Élément": "element",
                                          "Code Produit": "code_produit","Produit":"produit", "Code année": "code_annee",
                                          "Année": "annee", "Unité": "unite", "Valeur": "valeur", "Symbole": "symbole",
                                         "Description du Symbole":"description_symbole" })
animaux_df.head(2)

,code_domaine,domaine,code_zone,zone,code_element,element,code_produit,produit,code_annee,annee,unite,valeur,symbole,description_symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.0,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.0,S,Données standardisées

In [14]:
#La Chine contient des données agrégats et c'est la somme de toutes les autres chine qui eux contiennent
#des données officielles. Donc nous allons enlever la chine de notre dataframe.
#Pour faire cela on va faire un masque en recherchant dans la colonne code_zone le code_zone de la chine

animaux_df = animaux_df[animaux_df["code_zone"] !=351 ]
animaux_df

,code_domaine,domaine,code_zone,zone,code_element,element,code_produit,produit,code_annee,annee,unite,valeur,symbole,description_symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37161,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,5142,Nourriture,2775,Plantes Aquatiques,2013,2013,Milliers de tonnes,0.00,S,Données standardisées
37162,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,2775,Plantes Aquatiques,2013,2013,kg,0.00,Fc,Donnée calculée
37163,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2775,Plantes Aquatiques,2013,2013,Kcal/personne/jour,0.00,Fc,Donnée calculée
37164,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée
37165,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée

## Puis en second sur le dataframe vegetaux en procédant comme nous l'avons fait précédement avec le DataFrame animaux

In [15]:
vegetaux.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,104871.000000,104871.000000,104871.000000,104871.0,104871.0,104871.000000
mean,127.694682,3728.248429,2587.470998,2013.0,2013.0,321.271016
std,75.423255,2276.474811,61.107727,0.0,0.0,6395.039684
min,1.000000,645.000000,2511.000000,2013.0,2013.0,-39863.000000
25%,66.000000,674.000000,2546.000000,2013.0,2013.0,0.000000
50%,121.000000,5142.000000,2575.000000,2013.0,2013.0,1.000000
75%,189.000000,5511.000000,2618.000000,2013.0,2013.0,17.000000
max,351.000000,5911.000000,2899.000000,2013.0,2013.0,739267.000000

In [16]:
# les 5 premiers éléments du dataframe vegetaux
vegetaux.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées

In [17]:
# Nous allons renommer les colonnes du dataframe vegetaux
vegetaux_df = vegetaux.rename(columns={"Code Domaine": "code_domaine","Domaine": "domaine","Code zone": "code_zone",
                                           "Zone": "zone","Code Élément": "code_element", "Élément": "element",
                                          "Code Produit": "code_produit","Produit":"produit", "Code année": "code_annee",
                                          "Année": "annee", "Unité": "unite", "Valeur": "valeur", "Symbole": "symbole",
                                         "Description du Symbole":"description_symbole"})

In [18]:
#La Chine contient des données agrégats et c'est la somme de toutes les autres chine qui eux contiennent
#des données officielles. Donc nous allons enlever la chine de notre dataframe.
#Pour faire cela on va faire un masque en recherchant dans la colonne code_zone le code_zone de la chine

vegetaux_df = vegetaux_df[vegetaux_df["code_zone"] !=351 ]
vegetaux_df

,code_domaine,domaine,code_zone,zone,code_element,element,code_produit,produit,code_annee,annee,unite,valeur,symbole,description_symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.00,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.00,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.00,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.00,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.00,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104866,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2680,Aliments pour enfants,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée
104867,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2680,Aliments pour enfants,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée
104868,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2899,Miscellanees,2013,2013,Kcal/personne/jour,2.00,Fc,Donnée calculée
104869,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2899,Miscellanees,2013,2013,g/personne/jour,0.07,Fc,Donnée calculée
104870,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2899,Miscellanees,2013,2013,g/personne/jour,0.03,Fc,Donnée calculée

In [19]:
# On rajoute la colonne "origine" pour rajouter des sources de concaténation

vegetaux_df["origine"]= "vegetaux"
animaux_df["origine"]= "animaux"

In [20]:
# Nous allons unir les DataFrames animaux et vegetaux car ils contiennent les mêmes colonnes. Cette union va nous créer 
# un troisième DataFrame animaux_vegetaux qui contiendra toutes les lignes des deux DataFrames.

animaux_vegetaux = pd.concat([animaux_df, vegetaux_df])
animaux_vegetaux.head()

,code_domaine,domaine,code_zone,zone,code_element,element,code_produit,produit,code_annee,annee,unite,valeur,symbole,description_symbole,origine
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées,animaux
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées,animaux
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées,animaux
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées,animaux
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée,animaux

In [21]:
# On fait un tableau croisé dynamique  du DataFrame "animaux_vegetaux" pour que les éléments de la combinaison 
# zone et Produit soient affichés par colonne.
# Pour faire ce tableau croisé dynamique, on utilise la fonction "pivot_table"

In [22]:
animaux_vegetaux_pivot = animaux_vegetaux.pivot_table("valeur", index = ["zone","code_zone","produit", 
                                                                         "code_produit", "origine"], 
                                                                columns = "element", fill_value = 0)
# Nous faisons par la même occasion un reset_index pour nous permettre de faire les calculs avec les élements de l'index

animaux_vegetaux_pivot = animaux_vegetaux_pivot.reset_index()
animaux_vegetaux_pivot

element,zone,code_zone,produit,code_produit,origine,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,2,Abats Comestible,2736,animaux,0,0,5,1.72,0.20,0.77,53,0,0,53,0,53,0,0,0
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,0.02,41,2,40,39,2,3,0,0,0
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,0.03,2,0,2,2,0,0,0,0,0
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,0
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,0.05,82,0,82,82,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15600,Îles Salomon,25,Viande de Suides,2733,animaux,0,0,45,4.70,4.28,1.41,3,0,0,3,0,2,0,0,0
15601,Îles Salomon,25,Viande de Volailles,2734,animaux,0,0,11,3.34,0.69,1.14,2,0,2,2,0,0,0,0,0
15602,Îles Salomon,25,"Viande, Autre",2735,animaux,0,0,0,0.06,0.00,0.04,0,0,0,0,0,0,0,0,0
15603,Îles Salomon,25,Vin,2655,vegetaux,0,0,0,0.07,0.00,0.00,0,0,0,0,0,0,0,0,0
15604,Îles Salomon,25,"Épices, Autres",2645,vegetaux,0,0,4,0.48,0.21,0.15,0,0,0,0,0,0,0,0,0

In [23]:
# Avant de continuer dans nos calculs, nous allons en premier lieu renommer les colonnes du dataframe animaux_vegetaux_pivot
animaux_vegetaux_pivot_df = animaux_vegetaux_pivot.rename (columns = {"Aliments pour animaux": "Aliments_animaux",
                                                          "Autres utilisations (non alimentaire)": 
                                                          "Autres_utilisations",
                                                          "Disponibilité alimentaire (Kcal/personne/jour)": 
                                                          "Disp_alimentaire(Kcal/personne/jour)",
                                                          "Disponibilité alimentaire en quantité (kg/personne/an)":
                                                          "Dispo_alimentaire(kg/personne/an)",
                                                          "Disponibilité de matière grasse en quantité (g/personne/jour)": 
                                                          "Disp_matière_grasse(g/personne/jour)",
                                                          "Disponibilité de protéines en quantité (g/personne/jour)":
                                                          "Disp_proteines(g/personne/jour)",
                                                          "Exportations - Quantité": "Exportations",
                                                          "Importations - Quantité": "Importations",
                                                          "Variation de stock": "Variation_stock", 
                                                          "Disponibilité intérieure": "Disp_interieure",})

Equation à 3 termes de type (a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]) ) faisant intervenir chacune des 11 quantités: 


Disponibilité intérieure = production + importation + variation stocks - exportation = Disp_calc1


Disponibilité intérieure = Nourriture + aliment pour animaux + traitement + semence + perte + autre utilisation (non alimentaire) = Disp_calc2

In [24]:
animaux_vegetaux_pivot_df["Disp_interieure1"] = animaux_vegetaux_pivot_df["Production"] \
                                              + animaux_vegetaux_pivot_df["Importations"] \
                                              + animaux_vegetaux_pivot_df["Variation_stock"] \
                                              - animaux_vegetaux_pivot_df ["Exportations"]

animaux_vegetaux_pivot_df["Disp_interieure2"] = animaux_vegetaux_pivot_df ["Nourriture"] \
                                              + animaux_vegetaux_pivot_df["Aliments_animaux"] \
                                              + animaux_vegetaux_pivot_df["Traitement"] \
                                              + animaux_vegetaux_pivot_df ["Semences"] \
                                              + animaux_vegetaux_pivot_df["Pertes"] \
                                              + animaux_vegetaux_pivot_df["Autres_utilisations"]

animaux_vegetaux_pivot_df.head()

element,zone,code_zone,produit,code_produit,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Exportations,Importations,Nourriture,Pertes,Production,Semences,Traitement,Variation_stock,Disp_interieure1,Disp_interieure2
0,Afghanistan,2,Abats Comestible,2736,animaux,0,0,5,1.72,0.20,...,0,0,53,0,53,0,0,0,53,53
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,2,40,39,2,3,0,0,0,41,41
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,0,2,2,0,0,0,0,0,2,2
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,...,0,82,82,0,0,0,0,0,82,82

# Nous allons comparer les Disp_interieure1 et Disp_interieure1 avec la disponibilité intérieure animaux et vegetaux

In [25]:
animaux_vegetaux_pivot_df["Disp_OK_1"]=animaux_vegetaux_pivot_df["Disp_interieure2"]/animaux_vegetaux_pivot_df["Disp_interieure"]
animaux_vegetaux_pivot_df["Disp_OK_2"]=animaux_vegetaux_pivot_df["Disp_interieure2"]/animaux_vegetaux_pivot_df["Disp_interieure"]
animaux_vegetaux_pivot_df.head()

element,zone,code_zone,produit,code_produit,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation_stock,Disp_interieure1,Disp_interieure2,Disp_OK_1,Disp_OK_2
0,Afghanistan,2,Abats Comestible,2736,animaux,0,0,5,1.72,0.20,...,53,0,53,0,0,0,53,53,1.0,1.0
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,39,2,3,0,0,0,41,41,1.0,1.0
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,2,0,0,0,0,0,2,2,1.0,1.0
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,0,0,0,0,0,0,0,0,NaN,NaN
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,...,82,0,0,0,0,0,82,82,1.0,1.0

Pour Disp_calc1 et Disp_calc2 nous allons calculer l'erreur pour 5% soit:
0.95<= Disp_calc1 <= 1.05 et 0.95<= Disp_calc2 <= 1.05
L'erreur sera pour les valeurs strictement en dessous de 0.95 et strictement au dessus de 1.05

In [26]:
pd.concat([animaux_vegetaux_pivot_df[animaux_vegetaux_pivot_df["Disp_OK_1"] < 0.95],
         animaux_vegetaux_pivot_df[animaux_vegetaux_pivot_df["Disp_OK_1"] > 1.05 ]])

pd.concat([animaux_vegetaux_pivot_df[animaux_vegetaux_pivot_df["Disp_OK_2"] < 0.95],
         animaux_vegetaux_pivot_df[animaux_vegetaux_pivot_df["Disp_OK_2"] > 1.05 ]])

element,zone,code_zone,produit,code_produit,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation_stock,Disp_interieure1,Disp_interieure2,Disp_OK_1,Disp_OK_2
38,Afghanistan,2,Olives,2563,vegetaux,0,0,0,0.06,0.03,...,2,0,7,0,4,0,7,6,0.857143,0.857143
41,Afghanistan,2,"Plantes Oleiferes, Autre",2570,vegetaux,0,0,0,0.00,0.00,...,0,0,3,0,2,0,3,2,0.666667,0.666667
128,Afrique du Sud,202,"Plantes Oleiferes, Autre",2570,vegetaux,0,1,0,0.00,0.00,...,0,0,23,0,14,7,17,15,0.937500,0.937500
161,Albanie,3,Arachides Decortiquees,2556,vegetaux,0,0,2,0.15,0.20,...,0,0,0,0,0,0,1,0,0.000000,0.000000
182,Albanie,3,Graines de coton,2559,vegetaux,0,0,0,0.00,0.00,...,0,0,1,0,0,0,1,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15312,Équateur,58,"Plantes Oleiferes, Autre",2570,vegetaux,0,2,0,0.00,0.00,...,0,0,3,0,2,0,3,4,1.333333,1.333333
15367,États-Unis d'Amérique,231,Graines Colza/Moutarde,2558,vegetaux,0,0,3,0.00,0.00,...,71,16,1020,7,1689,0,1515,1783,1.176898,1.176898
15372,États-Unis d'Amérique,231,Huil Plantes Oleif Autr,2586,vegetaux,0,222,2,0.14,0.24,...,44,1,269,0,0,11,44,267,6.068182,6.068182
15374,États-Unis d'Amérique,231,Huile d'Arachide,2572,vegetaux,0,15,5,0.23,0.60,...,74,1,96,0,0,0,68,90,1.343284,1.343284
15450,Éthiopie,238,Citrons & Limes,2612,vegetaux,0,0,0,0.04,0.00,...,4,1,6,0,0,0,5,5,1.250000,1.250000

Donc on remarque que sur 15702 lignes  on a 756 lignes  qui ne respectent pas la formule à (756/15702 *100) = 0.53 % 

Cela peut s'expliquer par  la disponibilité intérieure qui est négative

# Question 3 :

Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.

Vous ferez cela à partir de ces informations :

Population de chaque pays ;
Disponibilité alimentaire donnée pour chaque produit et pour chaque pays en kcal/personne/jour.

Disponibilité alimentaire en protéines donnée pour chaque produit et pour chaque pays en g/personne/jour.

Pour resoudre cet exercice, nous allons faire une jointure du dataframe animaux_vegetaux_pivot_df et filtered_Population_df.

_Le dataframe animaux_vegetaux_pivot_df est issue:
        1. de la concaténation du dataframe animaux et vegetaux.
        
        2. Et en second du tableau croisé dynamique "animaux_vegetaux" obtenu en faisant un pivot_table du dataframe "animaux_vegetaux" et de la colonne "element" du même dataframe "animaux_vegetaux
        
        3. Nous avons également filtré les données en enlevant tous les agrégats dont la Chine

_ Le dataframe filtered_Population_df est quand à lui obtenu en ne filtrant que les "données officielles" du dataframe population, en appliquant un mask à la colonne "Description_Symbole"= "données officielles" ce qui  nous a permis  de supprimer toutes les données "Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées".Donc la chine 

Pour ce faire la condition de jointure sera pour le dataframe animaux_vegetaux "code_zone" et pour le dataframe filtered_Population_df "code_zone.

La colonne commune qui effectue une correspondance entre les deux dataframes est donc la colonne "code_zone"

Ici la condition de jointure dit que c'est la colonne Code_zone de animaux_vegetaux qui reférence la colonne produit de dataframe population

In [27]:
# Jointure du dataframe animaux_vegetaux et de filtered_Population_df 

# animaux_vegetaux_pop = Bilan alimentaire

animaux_vegetaux_pop = pd.merge(animaux_vegetaux_pivot_df, filtered_population_df, left_on =['zone','code_zone'],
                                                                                  right_on =['zone','code_zone'] )
#left_on ='code_zone', right_on ='code_zone' 

animaux_vegetaux_pop.head()

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,element,code_produit_y,produit_y,code_annee,annee,unite,valeur,symbole,description_symbole,Population_totale
0,Afghanistan,2,Abats Comestible,2736,animaux,0,0,5,1.72,0.20,...,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,...,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000

Calcul de la disponibilité alimentaire en kcal pour chaque pays et pour chaque produit  

Disponibilité alimentaire( Kcal)=  Disponibilité alimentaire (Kcal/personne/jour) * 365 * Population_totale

In [28]:
animaux_vegetaux_pop["Disp_alim_AniVegPop_kcal"] = animaux_vegetaux_pop["Disp_alimentaire(Kcal/personne/jour)"]*\
                                                  365* animaux_vegetaux_pop["Population_totale"]
animaux_vegetaux_pop.head()

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,code_produit_y,produit_y,code_annee,annee,unite,valeur,symbole,description_symbole,Population_totale,Disp_alim_AniVegPop_kcal
0,Afghanistan,2,Abats Comestible,2736,animaux,0,0,5,1.72,0.20,...,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,55757400000
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,11151480000
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,11151480000
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,0
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,...,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,44605920000

Calcul de la disponibilité alimentaire en protéine_kg pour chaque pays et pour chaque produit 

Disponibilité alimentaire( Kg)=  Disponibilité de protéines en quantité (g/personne/jour)/1000 * 365 * Population_totale)

In [29]:
# Disponibilité alimentaire en protéine kg pour chaque pays et pour chaque produit
animaux_vegetaux_pop["Disp_prot_AniVegPop_kg"] = animaux_vegetaux_pop["Disp_proteines(g/personne/jour)"]\
                                                /1000 * 365* animaux_vegetaux_pop["Population_totale"]
animaux_vegetaux_pop.head()

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,produit_y,code_annee,annee,unite,valeur,symbole,description_symbole,Population_totale,Disp_alim_AniVegPop_kcal,Disp_prot_AniVegPop_kg
0,Afghanistan,2,Abats Comestible,2736,animaux,0,0,5,1.72,0.20,...,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,55757400000,8586639.6
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,11151480000,223029.6
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,11151480000,334544.4
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,0,0.0
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,...,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,44605920000,557574.0

# Question 4

A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg. Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la valeur calorique d'un oeuf.

In [30]:
# Calcul de la nourriture en kg 

animaux_vegetaux_pop["Nourriture_kg"] = 1e6 * animaux_vegetaux_pop["Nourriture"] 
animaux_vegetaux_pop.head()

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,code_annee,annee,unite,valeur,symbole,description_symbole,Population_totale,Disp_alim_AniVegPop_kcal,Disp_prot_AniVegPop_kg,Nourriture_kg
0,Afghanistan,2,Abats Comestible,2736,animaux,0,0,5,1.72,0.20,...,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,55757400000,8586639.6,53000000.0
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,11151480000,223029.6,39000000.0
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,11151480000,334544.4,2000000.0
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,0,0.0,0.0
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,...,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,44605920000,557574.0,82000000.0

In [31]:
# Définition d'une fonction qui calcule le ratio énergie/ poids 
# si et seulement si la dispo alimentaire et la nourriture sont différentes de zéro sinon elle affiche nan

def calcul_ratio(row):
    if (row["Disp_alim_AniVegPop_kcal"]!=0) & (row["Nourriture_kg"]!=0):
        ratio = row["Disp_alim_AniVegPop_kcal"]/(row["Nourriture_kg"])
    else: 
        ratio = math.nan
    return ratio

In [32]:

animaux_vegetaux_pop["Energie/poids(kcal/kg)"] = animaux_vegetaux_pop.apply(lambda row: calcul_ratio(row), axis=1)
animaux_vegetaux_pop.head()

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,annee,unite,valeur,symbole,description_symbole,Population_totale,Disp_alim_AniVegPop_kcal,Disp_prot_AniVegPop_kg,Nourriture_kg,Energie/poids(kcal/kg)
0,Afghanistan,2,Abats Comestible,2736,animaux,0,0,5,1.72,0.20,...,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,55757400000,8586639.6,53000000.0,1052.026415
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,11151480000,223029.6,39000000.0,285.935385
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,11151480000,334544.4,2000000.0,5575.740000
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,0,0.0,0.0,NaN
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,...,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,44605920000,557574.0,82000000.0,543.974634

In [33]:
# Nous cherchons le code produit de l'oeuf pour comparer ses données aux notres

animaux_vegetaux_pop[animaux_vegetaux_pop["produit_x"].str.contains("Oeuf")]

# code produit de l'oeuf = 2744

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,annee,unite,valeur,symbole,description_symbole,Population_totale,Disp_alim_AniVegPop_kcal,Disp_prot_AniVegPop_kg,Nourriture_kg,Energie/poids(kcal/kg)
37,Afghanistan,2,Oeufs,2744,animaux,0,0,5,1.30,0.36,...,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,55757400000,4.237562e+06,4.000000e+07,1393.935000
117,Afrique du Sud,202,Oeufs,2744,animaux,0,0,28,7.21,1.96,...,2013,1000 personnes,52776,NaN,Donnée officielle,52776000,539370720000,4.353492e+07,3.800000e+08,1419.396632
210,Albanie,3,Oeufs,2744,animaux,0,0,46,12.45,3.28,...,2013,1000 personnes,3173,NaN,Donnée officielle,3173000,53274670000,4.227229e+06,4.000000e+07,1331.866750
302,Algérie,4,Oeufs,2744,animaux,0,0,27,8.06,1.85,...,2013,1000 personnes,39208,NaN,Donnée officielle,39208000,386394840000,3.291512e+07,3.160000e+08,1222.768481
397,Allemagne,79,Oeufs,2744,animaux,0,0,47,12.20,3.32,...,2013,1000 personnes,82727,NaN,Donnée officielle,82727000,1419181685000,1.153463e+08,1.010000e+09,1405.130381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15208,Émirats arabes unis,225,Oeufs,2744,animaux,0,3,31,8.23,2.22,...,2013,1000 personnes,9346,NaN,Donnée officielle,9346000,105749990000,8.221209e+06,7.700000e+07,1373.376494
15301,Équateur,58,Oeufs,2744,animaux,0,0,29,8.01,1.89,...,2013,1000 personnes,15738,NaN,Donnée officielle,15738000,166586730000,1.246528e+07,1.260000e+08,1322.116905
15397,États-Unis d'Amérique,231,Oeufs,2744,animaux,0,0,56,14.58,3.92,...,2013,1000 personnes,320051,NaN,Donnée officielle,320051000,6541842440000,4.988155e+08,4.667000e+09,1401.723257
15489,Éthiopie,238,Oeufs,2744,animaux,0,0,1,0.36,0.10,...,2013,1000 personnes,94101,NaN,Donnée officielle,94101000,34346865000,3.778155e+06,3.400000e+07,1010.201912
15572,Îles Salomon,25,Oeufs,2744,animaux,0,0,5,1.28,0.36,...,2013,1000 personnes,561,NaN,Donnée officielle,561000,1023825000,8.190600e+04,1.000000e+06,1023.825000

Le ratio Energie/poids de l'oeuf¶

Energie(oeuf) = 147 kcal pour 100g ce qui représente 1470 kcal/kg.(Donnée retrouvée sur internet)

In [34]:
# on fait le masque sur la colonne "code_produit_x de l'oeuf" que le compare avec les données describe()
#de la colonne Energie/poids(kcal/kg)

animaux_vegetaux_pop[animaux_vegetaux_pop["code_produit_x"]== 2744]["Energie/poids(kcal/kg)"].describe()

count     169.000000
mean     1345.300386
std       166.791560
min       704.450000
25%      1284.800000
50%      1387.515294
75%      1419.396632
max      2149.302500
Name: Energie/poids(kcal/kg), dtype: float64

Dans ces données on voit que la moyenne du ratio Energie/poids(kcal/kg) est de 1345 ce qui se rapproche de la valeur calorique de l'oeuf

En suivant la même méthodologie, calculez également le pourcentage de protéines de chaque produit (pour chaque pays).

Ce pourcentage est obtenu en calculant le ratio "poids de protéines/poids total" (attention aux unités utilisées). Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la teneur en protéines de l'avoine.

In [35]:
def calcul_ratio(row):
    if (row["Disp_prot_AniVegPop_kg"]!=0) & (row["Nourriture_kg"]!=0):
        ratio = row["Disp_prot_AniVegPop_kg"]/(row["Nourriture_kg"])
    else: 
        ratio = math.nan
    return ratio

In [36]:
animaux_vegetaux_pop["ratio_poidsprot"]= animaux_vegetaux_pop.apply(lambda row: calcul_ratio(row), axis=1)
animaux_vegetaux_pop.head()

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,unite,valeur,symbole,description_symbole,Population_totale,Disp_alim_AniVegPop_kcal,Disp_prot_AniVegPop_kg,Nourriture_kg,Energie/poids(kcal/kg),ratio_poidsprot
0,Afghanistan,2,Abats Comestible,2736,animaux,0,0,5,1.72,0.20,...,1000 personnes,30552,NaN,Donnée officielle,30552000,55757400000,8586639.6,53000000.0,1052.026415,0.162012
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,1000 personnes,30552,NaN,Donnée officielle,30552000,11151480000,223029.6,39000000.0,285.935385,0.005719
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,1000 personnes,30552,NaN,Donnée officielle,30552000,11151480000,334544.4,2000000.0,5575.740000,0.167272
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,1000 personnes,30552,NaN,Donnée officielle,30552000,0,0.0,0.0,NaN,NaN
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,...,1000 personnes,30552,NaN,Donnée officielle,30552000,44605920000,557574.0,82000000.0,543.974634,0.006800

In [37]:
animaux_vegetaux_pop["poids_proteines/poids_total_%"] =  animaux_vegetaux_pop["ratio_poidsprot"] *100
animaux_vegetaux_pop.head()

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,valeur,symbole,description_symbole,Population_totale,Disp_alim_AniVegPop_kcal,Disp_prot_AniVegPop_kg,Nourriture_kg,Energie/poids(kcal/kg),ratio_poidsprot,poids_proteines/poids_total_%
0,Afghanistan,2,Abats Comestible,2736,animaux,0,0,5,1.72,0.20,...,30552,NaN,Donnée officielle,30552000,55757400000,8586639.6,53000000.0,1052.026415,0.162012,16.201207
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,30552,NaN,Donnée officielle,30552000,11151480000,223029.6,39000000.0,285.935385,0.005719,0.571871
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,30552,NaN,Donnée officielle,30552000,11151480000,334544.4,2000000.0,5575.740000,0.167272,16.727220
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,30552,NaN,Donnée officielle,30552000,0,0.0,0.0,NaN,NaN,NaN
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,...,30552,NaN,Donnée officielle,30552000,44605920000,557574.0,82000000.0,543.974634,0.006800,0.679968

In [38]:
animaux_vegetaux_pop["poids_proteines/poids_total_%"].describe()

count    7851.000000
mean        7.510573
std         7.243059
min         0.007165
25%         0.978880
50%         6.713719
75%        11.472724
max        44.259900
Name: poids_proteines/poids_total_%, dtype: float64

In [39]:
# Nous cherchons le code produit de l'avoine pour comparer ses données aux notres

animaux_vegetaux_pop[animaux_vegetaux_pop["produit_x"].str.contains("Avoine")]

# le code produit de l'avoine est de 2516

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,valeur,symbole,description_symbole,Population_totale,Disp_alim_AniVegPop_kcal,Disp_prot_AniVegPop_kg,Nourriture_kg,Energie/poids(kcal/kg),ratio_poidsprot,poids_proteines/poids_total_%
67,Afrique du Sud,202,Avoine,2516,vegetaux,8,0,5,0.75,0.09,...,52776,NaN,Donnée officielle,52776000,96316200000,3082118.40,4.000000e+07,2407.905000,0.077053,7.705296
162,Albanie,3,Avoine,2516,vegetaux,25,0,1,0.13,0.01,...,3173,NaN,Donnée officielle,3173000,1158145000,34744.35,0.000000e+00,NaN,NaN,NaN
254,Algérie,4,Avoine,2516,vegetaux,107,0,0,0.01,0.00,...,39208,NaN,Donnée officielle,39208000,0,0.00,0.000000e+00,NaN,NaN,NaN
347,Allemagne,79,Avoine,2516,vegetaux,652,0,13,1.54,0.23,...,82727,NaN,Donnée officielle,82727000,392539615000,14493770.40,1.270000e+08,3090.863110,0.114124,11.412418
441,Angola,7,Avoine,2516,vegetaux,0,0,0,0.01,0.00,...,21472,NaN,Donnée officielle,21472000,0,0.00,0.000000e+00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15066,Égypte,59,Avoine,2516,vegetaux,0,0,0,0.01,0.00,...,82056,NaN,Donnée officielle,82056000,0,0.00,1.000000e+06,NaN,NaN,NaN
15160,Émirats arabes unis,225,Avoine,2516,vegetaux,2,6,0,0.00,0.00,...,9346,NaN,Donnée officielle,9346000,0,0.00,0.000000e+00,NaN,NaN,NaN
15252,Équateur,58,Avoine,2516,vegetaux,0,0,19,2.96,0.31,...,15738,NaN,Donnée officielle,15738000,109143030000,4480608.60,4.700000e+07,2322.192128,0.095332,9.533210
15347,États-Unis d'Amérique,231,Avoine,2516,vegetaux,1430,0,19,3.95,0.31,...,320051,NaN,Donnée officielle,320051000,2219553685000,92286705.85,1.265000e+09,1754.587893,0.072954,7.295392
15441,Éthiopie,238,Avoine,2516,vegetaux,0,0,4,0.61,0.07,...,94101,NaN,Donnée officielle,94101000,137387460000,6525904.35,5.700000e+07,2410.306316,0.114490,11.448955

In [40]:
# on fait le masque sur la colonne "code_produit_x de l'avoine" que le compare avec les données describe()
# de la colonne Energie/poids(kcal/kg)

animaux_vegetaux_pop[animaux_vegetaux_pop["code_produit_x"]== 2516 ]["poids_proteines/poids_total_%"].describe()

count    91.000000
mean      8.447081
std       1.761343
min       4.524905
25%       7.417895
50%       8.556111
75%       9.268080
max      13.886060
Name: poids_proteines/poids_total_%, dtype: float64

Pour l'avoine, les données de la FAO donnent une valeur protéique moyenne de 8.45 et dans nos calculs nous sommes à 7.51 les valeurs sont pratiquement les mêmes

# Question 5

 Citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids.

Étonnamment, il arrive que ce ratio soit différent en fonction du pays. Il faudra donc réaliser pour chaque aliment une moyenne sur les différents pays. Vous créerez donc une nouvelle table grâce à une agrégation. Attention à bien retirer les valeurs égales à 0 afin de ne pas fausser le calcul de la moyenne.

Citez 5 aliments parmi les 20 aliments les plus riches en protéines.

In [41]:
# On filtre le tableau animaux_vegetaux_pop en ne récupérant que les colonnes qui nous intérèsse:
# On obtient le tableau animaux_vegetaux_pop_df

animaux_vegetaux_pop_df_kcal= pd.DataFrame(animaux_vegetaux_pop, columns = ['zone',"produit_x", "origine",
                                                                            "Energie/poids(kcal/kg)"])
animaux_vegetaux_pop_df_kcal

               zone              produit_x   origine  Energie/poids(kcal/kg)
0       Afghanistan       Abats Comestible   animaux             1052.026415
1       Afghanistan        Agrumes, Autres  vegetaux              285.935385
2       Afghanistan  Aliments pour enfants  vegetaux             5575.740000
3       Afghanistan                 Ananas  vegetaux                     NaN
4       Afghanistan                Bananes  vegetaux              543.974634
...             ...                    ...       ...                     ...
15600  Îles Salomon       Viande de Suides   animaux             3071.475000
15601  Îles Salomon    Viande de Volailles   animaux             1126.207500
15602  Îles Salomon          Viande, Autre   animaux                     NaN
15603  Îles Salomon                    Vin  vegetaux                     NaN
15604  Îles Salomon         Épices, Autres  vegetaux                     NaN

[15605 rows x 4 columns]

 # Calcul pour chaque aliment contenue dans la colonne produit la moyenne sur les différents pays. On utilise .mean() = moyenne

In [42]:
# Nous allons dans un premier temps supprimer les NaN de la colonne Energie/poids(kcal/kg)
animaux_vegetaux_pop_df_kcal.dropna(subset=["Energie/poids(kcal/kg)"], how="all", inplace=True)

# Calcul de la moyenne de tous les produits par pays. On fait une agrégation avec group by
animaux_vegetaux_pop_kcal_moyenne = animaux_vegetaux_pop_df_kcal.groupby(by =['produit_x', "origine"], dropna=True).mean()
animaux_vegetaux_pop_kcal_moyenne = animaux_vegetaux_pop_kcal_moyenne.reset_index()



animaux_vegetaux_pop_kcal_moyenne

                   produit_x   origine  Energie/poids(kcal/kg)
0           Abats Comestible   animaux             1129.258163
1            Agrumes, Autres  vegetaux              248.981045
2      Aliments pour enfants  vegetaux             3690.832338
3                     Ananas  vegetaux              439.413583
4   Animaux Aquatiques Autre   animaux              666.357729
..                       ...       ...                     ...
89          Viande de Suides   animaux             2531.333404
90       Viande de Volailles   animaux             1301.310330
91             Viande, Autre   animaux             1295.626878
92                       Vin  vegetaux              755.680845
93            Épices, Autres  vegetaux             3489.897394

[94 rows x 3 columns]

 # Citons  les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids.

Nous utiliserons nlargest pour sélectionner les 20 lignes ayant les valeurs les plus élevées de la colonne «Energie/poids(kcal/kg) et poids_proteines/poids_total_%» du dataframe aliment_moyenne_pays.

In [43]:
# Nous faisons une restriction pour obtenir les 20 aliments les plus caloriques.
animaux_vegetaux_pop_20_nrj = animaux_vegetaux_pop_kcal_moyenne.nlargest(20, ["Energie/poids(kcal/kg)"])

animaux_vegetaux_pop_20_nrj

                   produit_x   origine  Energie/poids(kcal/kg)
43  Huiles de Foie de Poisso   animaux             9982.932500
41           Huile de Sésame  vegetaux             9433.744729
40       Huile de Son de Riz  vegetaux             9361.549883
44        Huiles de Poissons   animaux             9003.715504
32          Huile d'Arachide  vegetaux             8935.765811
33             Huile d'Olive  vegetaux             8931.223447
36    Huile de Germe de Maïs  vegetaux             8871.762566
30   Huil Plantes Oleif Autr  vegetaux             8848.222893
38        Huile de Palmistes  vegetaux             8789.540277
31    Huile Graines de Coton  vegetaux             8750.320136
37            Huile de Palme  vegetaux             8719.419872
42        Huile de Tournesol  vegetaux             8693.245772
39             Huile de Soja  vegetaux             8635.808245
35   Huile de Colza&Moutarde  vegetaux             8627.372452
34             Huile de Coco  vegetaux             8565.739255
28    Graisses Animales Crue   animaux             7583.862063
9               Beurre, Ghee   animaux             7331.424291
60                 Palmistes  vegetaux             6496.635000
84                    Sésame  vegetaux             5796.120413
5     Arachides Decortiquees  vegetaux             5702.900100

Nous utiliserons .sample pour sélectionner 5 aliments parmi les 20 aliments les plus caloriques.

In [44]:
animaux_vegetaux_pop_20_nrj.sample( n = 5, random_state=1)

                 produit_x   origine  Energie/poids(kcal/kg)
44      Huiles de Poissons   animaux             9003.715504
9             Beurre, Ghee   animaux             7331.424291
36  Huile de Germe de Maïs  vegetaux             8871.762566
37          Huile de Palme  vegetaux             8719.419872
40     Huile de Son de Riz  vegetaux             9361.549883

Nous allons sélectionner les 20 aliments les plus riches en protéines.

In [45]:
# on filtre le tableau animaux_vegetaux_pop en ne récupérant que les colonnes qui nous intérèsse:
# on obtient le tableau animaux_vegetaux_pop_df_prot
animaux_vegetaux_pop_df_prot= pd.DataFrame(animaux_vegetaux_pop, columns = ["produit_x","origine",
                                                                            "poids_proteines/poids_total_%"])
animaux_vegetaux_pop_df_prot

                   produit_x   origine  poids_proteines/poids_total_%
0           Abats Comestible   animaux                      16.201207
1            Agrumes, Autres  vegetaux                       0.571871
2      Aliments pour enfants  vegetaux                      16.727220
3                     Ananas  vegetaux                            NaN
4                    Bananes  vegetaux                       0.679968
...                      ...       ...                            ...
15600       Viande de Suides   animaux                       9.623955
15601    Viande de Volailles   animaux                      11.671605
15602          Viande, Autre   animaux                            NaN
15603                    Vin  vegetaux                            NaN
15604         Épices, Autres  vegetaux                            NaN

[15605 rows x 3 columns]

In [46]:
# Nous allons dans un premier temps supprimer les NaN de la colonne poids_proteines/poids_total_%
animaux_vegetaux_pop_df_prot.dropna(subset=["poids_proteines/poids_total_%"], how="all", inplace=True)

# Calcul de la moyenne de tous les produits par pays
animaux_vegetaux_pop_prot_moyenne = animaux_vegetaux_pop_df_prot.groupby(by=['produit_x',"origine"]).mean()
animaux_vegetaux_pop_prot_moyenne = animaux_vegetaux_pop_prot_moyenne.reset_index()

animaux_vegetaux_pop_prot_moyenne

                   produit_x   origine  poids_proteines/poids_total_%
0           Abats Comestible   animaux                      17.561047
1            Agrumes, Autres  vegetaux                       0.442631
2      Aliments pour enfants  vegetaux                      14.883228
3                     Ananas  vegetaux                       0.307905
4   Animaux Aquatiques Autre   animaux                       3.889703
..                       ...       ...                            ...
83          Viande de Suides   animaux                      10.297519
84       Viande de Volailles   animaux                      12.620941
85             Viande, Autre   animaux                      17.402372
86                       Vin  vegetaux                       0.007165
87            Épices, Autres  vegetaux                      10.741790

[88 rows x 3 columns]

In [47]:
# Nous faisons une restriction pour obtenir les 20 aliments les plus protéiques.
animaux_vegetaux_pop_20_prot = animaux_vegetaux_pop_prot_moyenne.nlargest(20, ["poids_proteines/poids_total_%"])
animaux_vegetaux_pop_20_prot

                   produit_x   origine  poids_proteines/poids_total_%
26    Graines Colza/Moutarde  vegetaux                      28.536511
73                      Soja  vegetaux                      28.533053
5     Arachides Decortiquees  vegetaux                      25.146613
62                      Pois  vegetaux                      22.324375
44       Légumineuses Autres  vegetaux                      21.971635
29                  Haricots  vegetaux                      21.545181
0           Abats Comestible   animaux                      17.561047
78                    Sésame  vegetaux                      17.503953
85             Viande, Autre   animaux                      17.402372
61  Plantes Oleiferes, Autre  vegetaux                      17.054422
2      Aliments pour enfants  vegetaux                      14.883228
82          Viande de Bovins   animaux                      14.378022
15              Cephalopodes   animaux                      13.990390
81    Viande d'Ovins/Caprins   animaux                      13.580332
84       Viande de Volailles   animaux                      12.620941
59                   Piments  vegetaux                      12.100347
65       Poissons Pelagiques   animaux                      11.934551
27      Graines de tournesol  vegetaux                      11.182268
64   Poissons Marins, Autres   animaux                      11.013261
87            Épices, Autres  vegetaux                      10.741790

Citons 5 aliments les plus riches en protéines parmi les 20

In [48]:
animaux_vegetaux_pop_20_prot.sample( n = 5, random_state=1)

                 produit_x   origine  poids_proteines/poids_total_%
62                    Pois  vegetaux                      22.324375
65     Poissons Pelagiques   animaux                      11.934551
0         Abats Comestible   animaux                      17.561047
2    Aliments pour enfants  vegetaux                      14.883228
5   Arachides Decortiquees  vegetaux                      25.146613

# Question 6  PRODUIT VEGETAUX UNIQUEMENT

 Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.

On fait un tableau croisé dynamique  du dataframe "vegetaux" pour que les éléments de la combinaison zone et Produit 
 soient affichés par colonne.
Pour faire ce tableau croisé dynamique, on utilise la fonction "pivot_table"

In [49]:
# Nous allons garder que les données de la colonne "origine" = vegetaux pour cela nous allons faire un masque 
vegetaux_nutrition = animaux_vegetaux_pop[animaux_vegetaux_pop["origine"] =="vegetaux" ]
vegetaux_nutrition.head()

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,valeur,symbole,description_symbole,Population_totale,Disp_alim_AniVegPop_kcal,Disp_prot_AniVegPop_kg,Nourriture_kg,Energie/poids(kcal/kg),ratio_poidsprot,poids_proteines/poids_total_%
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,30552,NaN,Donnée officielle,30552000,11151480000,223029.6,39000000.0,285.935385,0.005719,0.571871
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,30552,NaN,Donnée officielle,30552000,11151480000,334544.4,2000000.0,5575.740000,0.167272,16.727220
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,30552,NaN,Donnée officielle,30552000,0,0.0,0.0,NaN,NaN,NaN
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,...,30552,NaN,Donnée officielle,30552000,44605920000,557574.0,82000000.0,543.974634,0.006800,0.679968
6,Afghanistan,2,Bière,2656,vegetaux,0,0,0,0.09,0.00,...,30552,NaN,Donnée officielle,30552000,0,0.0,3000000.0,NaN,NaN,NaN

In [50]:
# calcul de la disponibilité intérieure en kg 
# convertir en kg
vegetaux_nutrition["Disp_interieure_vege_kg"] = 1e6 * vegetaux_nutrition["Disp_interieure"]
vegetaux_nutrition["Nourriture_vege_kg"] = 1e6 * vegetaux_nutrition["Nourriture"]
vegetaux_nutrition["Aliments_animaux_vege_kg"] = 1e6 * vegetaux_nutrition["Aliments_animaux"]
vegetaux_nutrition["Traitement_vege_kg"] = 1e6 * vegetaux_nutrition["Traitement"]
vegetaux_nutrition["Semences_vege_kg"] = 1e6 * vegetaux_nutrition["Semences"]
vegetaux_nutrition["Pertes_vege_kg"] = 1e6 * vegetaux_nutrition["Pertes"]
vegetaux_nutrition["Autres_utilisations_vege_kg"] = 1e6 * vegetaux_nutrition["Autres_utilisations"]

<ipython-input-50-c400ab477a8f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Disp_interieure_vege_kg"] = 1e6 * vegetaux_nutrition["Disp_interieure"]
<ipython-input-50-c400ab477a8f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Nourriture_vege_kg"] = 1e6 * vegetaux_nutrition["Nourriture"]
<ipython-input-50-c400ab477a8f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Aliments_animaux_vege_kg"] = 1e6 * vegetaux_nutrition["Aliments_animaux"]
<ipython-input-50-c400ab477a8f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Traitement_vege_kg"] = 1e6 * vegetaux_nutrition["Traitement"]
<ipython-input-50-c400ab477a8f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Semences_vege_kg"] = 1e6 * vegetaux_nutrition["Semences"]
<ipython-input-50-c400ab477a8f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Pertes_vege_kg"] = 1e6 * vegetaux_nutrition["Pertes"]
<ipython-input-50-c400ab477a8f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Autres_utilisations_vege_kg"] = 1e6 * vegetaux_nutrition["Autres_utilisations"]

In [51]:
vegetaux_nutrition["Disp_interieure_vegetaux_pays_kg"] = vegetaux_nutrition ["Nourriture_vege_kg"] \
                                                   + vegetaux_nutrition["Aliments_animaux_vege_kg"] \
                                                   + vegetaux_nutrition["Traitement_vege_kg"] \
                                                   + vegetaux_nutrition ["Semences_vege_kg"] \
                                                   + vegetaux_nutrition["Pertes_vege_kg"] \
                                                   + vegetaux_nutrition["Autres_utilisations_vege_kg"]
vegetaux_nutrition.head()

<ipython-input-51-69644dbfd3ee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Disp_interieure_vegetaux_pays_kg"] = vegetaux_nutrition ["Nourriture_vege_kg"] \

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,ratio_poidsprot,poids_proteines/poids_total_%,Disp_interieure_vege_kg,Nourriture_vege_kg,Aliments_animaux_vege_kg,Traitement_vege_kg,Semences_vege_kg,Pertes_vege_kg,Autres_utilisations_vege_kg,Disp_interieure_vegetaux_pays_kg
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,0.005719,0.571871,41000000.0,39000000.0,0.0,0.0,0.0,2000000.0,0.0,41000000.0
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,0.167272,16.727220,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0,2000000.0
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,...,0.006800,0.679968,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0,82000000.0
6,Afghanistan,2,Bière,2656,vegetaux,0,0,0,0.09,0.00,...,NaN,NaN,3000000.0,3000000.0,0.0,0.0,0.0,0.0,0.0,3000000.0

Calcul de la disponibilité intérieure mondiale en kcal

In [52]:
vegetaux_nutrition["Disp_interieure_vegetaux_pays_kcal"] = animaux_vegetaux_pop["Energie/poids(kcal/kg)"]\
                                                         * vegetaux_nutrition["Disp_interieure_vegetaux_pays_kg"]
vegetaux_nutrition.head()

<ipython-input-52-d60597e13260>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Disp_interieure_vegetaux_pays_kcal"] = animaux_vegetaux_pop["Energie/poids(kcal/kg)"]\

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,poids_proteines/poids_total_%,Disp_interieure_vege_kg,Nourriture_vege_kg,Aliments_animaux_vege_kg,Traitement_vege_kg,Semences_vege_kg,Pertes_vege_kg,Autres_utilisations_vege_kg,Disp_interieure_vegetaux_pays_kg,Disp_interieure_vegetaux_pays_kcal
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,0.571871,41000000.0,39000000.0,0.0,0.0,0.0,2000000.0,0.0,41000000.0,1.172335e+10
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,16.727220,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0,2000000.0,1.115148e+10
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,...,0.679968,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0,82000000.0,4.460592e+10
6,Afghanistan,2,Bière,2656,vegetaux,0,0,0,0.09,0.00,...,NaN,3000000.0,3000000.0,0.0,0.0,0.0,0.0,0.0,3000000.0,NaN

In [53]:
# Calcul de la disponibilité intérieure mondiale en kcal.

Disp_interieure_vegetaux_mondiale_kcal= vegetaux_nutrition.Disp_interieure_vegetaux_pays_kcal.sum()
round(Disp_interieure_vegetaux_mondiale_kcal)

12319390126210884

In [54]:
message = "La disponibilité intérieure mondiale en kcal est de 1.23e+16"
print (message)

La disponibilité intérieure mondiale en kcal est de 1.23e+16

# Question 7

Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ?

Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

### Résultats en termes de calories (kcal)

population potientiellement nourris en kcal = Disp_interieure_vegetaux_mondiale_kcal / nourriture_mondiale en kcal.
Donc Nombre_humain_mondialement_nourris_cal = Ppopulation potientiellement nourris en kcal * Population_mondiale_2013

In [55]:
# On convertit la nourriture en kg en kcal 
vegetaux_nutrition["Nourriture_pays_vegetaux_kcal"]= vegetaux_nutrition["Energie/poids(kcal/kg)"]\
                                                    * vegetaux_nutrition["Nourriture_vege_kg"]

<ipython-input-55-e5a2b0f9fbc5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Nourriture_pays_vegetaux_kcal"]= vegetaux_nutrition["Energie/poids(kcal/kg)"]\

In [56]:
# Calcul de la proportion de nourriture végétale destinées à l'alimentation animale. 

proportion_aliment_animaux_kg = 100 * ((vegetaux_nutrition["Aliments_animaux_vege_kg"]).sum() /
                                       (vegetaux_nutrition["Nourriture_vege_kg"]).sum())
proportion_aliment_animaux_kg

32.4063747954661

In [57]:
message = " 32% de la nourriture végétale destinée à l'alimentation humaine est utilisé pour l'alimentation du betail"
print(message)

 32% de la nourriture végétale destinée à l'alimentation humaine est utilisé pour l'alimentation du betail

In [58]:
# Nourriture mondiale en kcal
Nourriture_mondiale_vegetaux_kcal = vegetaux_nutrition["Nourriture_pays_vegetaux_kcal"].sum()
Nourriture_mondiale_vegetaux_kcal

6048218497140000.0

In [59]:
message = "Nourriture mondiale énergétique est de 6.05e+15 kcal"
print(message)

Nourriture mondiale énergétique est de 6.05e+15 kcal

In [60]:
# une personne consomme en moyenne 2300kcal par jour.
# calcul de la consonsommation énergétique par personne par an.
consommation_personne_an_kcal = 2500 * 365
consommation_personne_an_kcal

912500

In [61]:
message = "La consommation énergétique par personne et par an est de 912 500 kcal "
print(message)

La consommation énergétique par personne et par an est de 912 500 kcal

In [62]:
# Calcul de la population potentielle qui pourrait être nourris en terme de kcal
Population_potentielle_nourri_kcal = Disp_interieure_vegetaux_mondiale_kcal/consommation_personne_an_kcal
Population_potentielle_nourri_kcal

13500701508.176311

In [63]:
message = "Environ 13.5 milliards de personnes pourraient être nourris dans le monde\
 avec la disponibilité intérieure mondiale provenant des végétaux. Ainsi on peut nourrir 2 fois la population mondiale "
print (message)

Environ 13.5 milliards de personnes pourraient être nourris dans le monde avec la disponibilité intérieure mondiale provenant des végétaux. Ainsi on peut nourrir 2 fois la population mondiale

In [64]:
# Calcul du pourcentage  d'humain qui pourrait être nourris
Nombre_humain_mondialement_nourris_kcal = Population_potentielle_nourri_kcal / Population_mondiale_2013 * 100
round(Nombre_humain_mondialement_nourris_kcal)

193

In [65]:
message = "Potientiellement 193 % de la population mondiale pourrait être nourrie avec \
la disponibilité intérieure énergétique mondiale provenant des végétaux."
print (message)

Potientiellement 193 % de la population mondiale pourrait être nourrie avec la disponibilité intérieure énergétique mondiale provenant des végétaux.

### Résultats en termes de protéine (kg)

Population potientiellement nourris en protéine = Disp_interieure_vegetaux_mondiale_proteine / nourriture_mondiale en protéine.
Donc Nombre_humain_mondialement_nourris_proteine = Ppopulation potientiellement nourris en proteine * Population_mondiale_2013

In [66]:
# Calcul de la diponibilité intérieure par pays en kg de protéines.
vegetaux_nutrition["Disp_inter_pays_prot_kg"]= vegetaux_nutrition["ratio_poidsprot"] *\
                                            vegetaux_nutrition["Disp_interieure_vegetaux_pays_kg"]

vegetaux_nutrition.head()

<ipython-input-66-132ebd972287>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Disp_inter_pays_prot_kg"]= vegetaux_nutrition["ratio_poidsprot"] *\

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Nourriture_vege_kg,Aliments_animaux_vege_kg,Traitement_vege_kg,Semences_vege_kg,Pertes_vege_kg,Autres_utilisations_vege_kg,Disp_interieure_vegetaux_pays_kg,Disp_interieure_vegetaux_pays_kcal,Nourriture_pays_vegetaux_kcal,Disp_inter_pays_prot_kg
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,39000000.0,0.0,0.0,0.0,2000000.0,0.0,41000000.0,1.172335e+10,1.115148e+10,234467.015385
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,2000000.0,0.0,0.0,0.0,0.0,0.0,2000000.0,1.115148e+10,1.115148e+10,334544.400000
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,...,82000000.0,0.0,0.0,0.0,0.0,0.0,82000000.0,4.460592e+10,4.460592e+10,557574.000000
6,Afghanistan,2,Bière,2656,vegetaux,0,0,0,0.09,0.00,...,3000000.0,0.0,0.0,0.0,0.0,0.0,3000000.0,NaN,NaN,NaN

In [67]:
# calcul de la disponibilité intérieure mondiale en kg de protéine.
Disp_interieure_vegetaux_mondiale_prot_kg = vegetaux_nutrition["Disp_inter_pays_prot_kg"].sum()
Disp_interieure_vegetaux_mondiale_prot_kg

290921668470.2769

In [68]:
message = "La disponibilité intérieure mondiale en kg de protéines est de 2.91e+11 kg de protéines"
print(message)

La disponibilité intérieure mondiale en kg de protéines est de 2.91e+11 kg de protéines

In [69]:
# Calcul de la nourriture mondiale en kg de protéine
vegetaux_nutrition["Nourriture_mondiale_prot_vege_kg"]= vegetaux_nutrition["ratio_poidsprot"] * vegetaux_nutrition["Nourriture_kg"]

<ipython-input-69-c3ba962574c1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Nourriture_mondiale_prot_vege_kg"]= vegetaux_nutrition["ratio_poidsprot"] * vegetaux_nutrition["Nourriture_kg"]

In [70]:
# Calcul de la nourriture mondiale en kg de protéine
Nourriture_mondiale_vegetaux_prot_kg = vegetaux_nutrition["Nourriture_mondiale_prot_vege_kg"].sum()
Nourriture_mondiale_vegetaux_prot_kg

125093683161.3

In [71]:
message = "La nourriture mondiale en kg de protéines est de 1.25e+11 " 
print (message)

La nourriture mondiale en kg de protéines est de 1.25e+11

In [72]:
# une personne consomme en moyenne 0.8g de protéine par kg par jour.
# calcul de la consonsommation en protéine pour en moyenne population de 75 kg  par an.
consommation_personne_an_kg = 0.8/1000 *75* 365
consommation_personne_an_kg

21.900000000000002

In [73]:
message = "La consonsommation en protéine pour pour une personne par an est en moyenne de 21.9 kg"
print (message)

La consonsommation en protéine pour pour une personne par an est en moyenne de 21.9 kg

In [74]:
# Calcul de la population mondiale qui pourrait être nourris en kg de protéine par rapport à la population mondiale
Population_potentielle_nourri_prot= Disp_interieure_vegetaux_mondiale_prot_kg/consommation_personne_an_kg
round(Population_potentielle_nourri_prot)

13284094451

In [75]:
message = "On pourrait nourrir 13 milliards de personnes par an avec la disponibilité alimentaire mondiale végétale \
de proteines en kg"
print(message)

On pourrait nourrir 13 milliards de personnes par an avec la disponibilité alimentaire mondiale végétale de proteines en kg

Calcul du pourcentage  d'humain nourris si toute la disponibilité intérieure mondiale en proteines de végetaux était utilisée pour la nourriture

In [76]:
Nombre_humain_mondialement_nourris_prot = Population_potentielle_nourri_prot / Population_mondiale_2013 *100
Nombre_humain_mondialement_nourris_prot

189.84529877123882

In [77]:
message = "190 % de la population mondiale pourrait être nourrie avec la disponibilité intérieure protéique\
 mondiale provenant des végétaux."
print(message)

190 % de la population mondiale pourrait être nourrie avec la disponibilité intérieure protéique mondiale provenant des végétaux.

# Question 8

Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

Nombre d'humain nourris = disponibilité alimentaire(Kcal/personne/jour) + nourriture destinées aux animaux + pertes

disponibilité alimentaire (kcal) = Disp_alimentaire(Kcal/personne/jour) *365 * population totale
nourriture destinées aux animaux = Somme nourriture destinées aux animaux pour tous les pays

pertes = Somme pertes destinées aux animaux pour tous les pays

# Nombre d'humaine nourris = somme(Disponibilité alimentaire(kcal) + Aliment pour animaux(kcal)+ pertes(kcal))/ nourriture mondiale(kcal)

In [78]:
# Dispo alimentaire en kCal de chaque produit pour chaque zone
vegetaux_nutrition["Disp_alim_vegetaux_kcal"] = 365* vegetaux_nutrition["Disp_alimentaire(Kcal/personne/jour)"]\
                                                * filtered_population_df["Population_totale"]
vegetaux_nutrition.head(3)

<ipython-input-78-e9ff0e4e32be>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Disp_alim_vegetaux_kcal"] = 365* vegetaux_nutrition["Disp_alimentaire(Kcal/personne/jour)"]\

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Traitement_vege_kg,Semences_vege_kg,Pertes_vege_kg,Autres_utilisations_vege_kg,Disp_interieure_vegetaux_pays_kg,Disp_interieure_vegetaux_pays_kcal,Nourriture_pays_vegetaux_kcal,Disp_inter_pays_prot_kg,Nourriture_mondiale_prot_vege_kg,Disp_alim_vegetaux_kcal
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,0.0,0.0,2000000.0,0.0,41000000.0,1.172335e+10,1.115148e+10,234467.015385,223029.6,1.926324e+10
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,0.0,0.0,0.0,0.0,2000000.0,1.115148e+10,1.115148e+10,334544.400000,334544.4,1.158145e+09
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000e+00

In [79]:
# Dispo alimentaire en kCal mondiale végetaux
Disp_alim_mondiale_vege_kcal = vegetaux_nutrition["Disp_alim_vegetaux_kcal"].sum()
Disp_alim_mondiale_vege_kcal

67121966270000.0

In [80]:
message = "La disponibilité alimentaire mondiale en kcal en végétaux est de 6.7e+13 "
print(message)

La disponibilité alimentaire mondiale en kcal en végétaux est de 6.7e+13

In [81]:
# Produits végétaux destinés à l'alimentation des animaux en kCal de chaque produit pour chaque zone
vegetaux_nutrition["Aliments_animaux_vege_kcal"]= vegetaux_nutrition["Aliments_animaux_vege_kg"]*animaux_vegetaux_pop["Energie/poids(kcal/kg)"]

# perte en kCal de chaque produit végétaux pour chaque zone
vegetaux_nutrition["Pertes_vege_kcal"]= vegetaux_nutrition["Pertes_vege_kg"]*animaux_vegetaux_pop["Energie/poids(kcal/kg)"]
vegetaux_nutrition.head(3)

<ipython-input-81-8668a81eaf9e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Aliments_animaux_vege_kcal"]= vegetaux_nutrition["Aliments_animaux_vege_kg"]*animaux_vegetaux_pop["Energie/poids(kcal/kg)"]
<ipython-input-81-8668a81eaf9e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Pertes_vege_kcal"]= vegetaux_nutrition["Pertes_vege_kg"]*animaux_vegetaux_pop["Energie/poids(kcal/kg)"]

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Pertes_vege_kg,Autres_utilisations_vege_kg,Disp_interieure_vegetaux_pays_kg,Disp_interieure_vegetaux_pays_kcal,Nourriture_pays_vegetaux_kcal,Disp_inter_pays_prot_kg,Nourriture_mondiale_prot_vege_kg,Disp_alim_vegetaux_kcal,Aliments_animaux_vege_kcal,Pertes_vege_kcal
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,2000000.0,0.0,41000000.0,1.172335e+10,1.115148e+10,234467.015385,223029.6,1.926324e+10,0.0,5.718708e+08
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,0.0,0.0,2000000.0,1.115148e+10,1.115148e+10,334544.400000,334544.4,1.158145e+09,0.0,0.000000e+00
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN

In [82]:
# somme Nourriture + Aliments Animaux + Pertes en kCal de chaque produit pour chaque zone
vegetaux_nutrition["Nour_AlimAnimaux_Pertes_vege_kcal"] = vegetaux_nutrition["Aliments_animaux_vege_kcal"] + vegetaux_nutrition["Pertes_vege_kcal"] + vegetaux_nutrition["Disp_alim_vegetaux_kcal"]
vegetaux_nutrition.head(3)

<ipython-input-82-78efd0d6efd0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Nour_AlimAnimaux_Pertes_vege_kcal"] = vegetaux_nutrition["Aliments_animaux_vege_kcal"] + vegetaux_nutrition["Pertes_vege_kcal"] + vegetaux_nutrition["Disp_alim_vegetaux_kcal"]

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Autres_utilisations_vege_kg,Disp_interieure_vegetaux_pays_kg,Disp_interieure_vegetaux_pays_kcal,Nourriture_pays_vegetaux_kcal,Disp_inter_pays_prot_kg,Nourriture_mondiale_prot_vege_kg,Disp_alim_vegetaux_kcal,Aliments_animaux_vege_kcal,Pertes_vege_kcal,Nour_AlimAnimaux_Pertes_vege_kcal
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,0.0,41000000.0,1.172335e+10,1.115148e+10,234467.015385,223029.6,1.926324e+10,0.0,5.718708e+08,1.983511e+10
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,0.0,2000000.0,1.115148e+10,1.115148e+10,334544.400000,334544.4,1.158145e+09,0.0,0.000000e+00,1.158145e+09
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,0.0,0.0,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN

In [83]:
# Calculs en Kcal mondiale nourritures + Aliments animaux + pertes
Nour_AlimAnimaux_Pertes_mondiale_vege_kcal = vegetaux_nutrition.Nour_AlimAnimaux_Pertes_vege_kcal.sum()
Nour_AlimAnimaux_Pertes_mondiale_vege_kcal

89208546462755.06

In [84]:
message = " La somme en kcal de la nourriture mondiale, aliments pour animaux mondiale et pertes alimentaires mondiale \
est de 8.9e+13  "
print(message)

 La somme en kcal de la nourriture mondiale, aliments pour animaux mondiale et pertes alimentaires mondiale est de 8.9e+13

In [85]:
# Rapport entre (nourriture + Aliments animaux + pertes) / Disponibilité alimentaire (niveau mondial en kCal)
Nour_AlimAnimaux_Pertes_mondiale_vege_pourcent = 100 * Nour_AlimAnimaux_Pertes_mondiale_vege_kcal / Disp_alim_mondiale_vege_kcal 

Nour_AlimAnimaux_Pertes_mondiale_vege_pourcent

132.90514479851674

In [86]:
message = "Rapport entre (nourriture + Aliments animaux + pertes) / Disponibilité alimentaire \
au niveau mondial en kCal est de 132,9% "
print(message)

Rapport entre (nourriture + Aliments animaux + pertes) / Disponibilité alimentaire au niveau mondial en kCal est de 132,9%

In [87]:
Nombre_humain_mondialement_nourris_kcal = Nour_AlimAnimaux_Pertes_mondiale_vege_pourcent * Population_mondiale_2013
round(Nombre_humain_mondialement_nourris_kcal)

929980625232

In [88]:
message = "Environ 9.3 milliards de personnes pourraient être nourris dans le monde avec \
la disponibilité alimentaire mondiale énergétique provenant des végétaux (nourriture + Aliments animaux + pertes)"

print(message)

Environ 9.3 milliards de personnes pourraient être nourris dans le monde avec la disponibilité alimentaire mondiale énergétique provenant des végétaux (nourriture + Aliments animaux + pertes)

In [89]:
vegetaux_nutrition_perte= vegetaux_nutrition.Pertes_vege_kcal.sum()
vegetaux_nutrition_perte

511540894968097.6

In [90]:
message = "Pertes mondiales de produits végétaux en kcal est de 5.11e+14 "
print(message)

Pertes mondiales de produits végétaux en kcal est de 5.11e+14

In [91]:
message = "Pertes mondiales de produits végétaux en kcal est de 5.11e+14 "
print(message)

Pertes mondiales de produits végétaux en kcal est de 5.11e+14

## Nombre d'humaine nourris = somme(Disponibilité alimentaire(prot) + Aliment pour animaux(prot)+ pertes(prot))/ nourriture mondiale(prot)¶

In [92]:
 # Dispo alimentaire en prot_kg de produit vegetaux pour chaque zone
vegetaux_nutrition["Disp_alim_prot_vege_kg"] = vegetaux_nutrition["ratio_poidsprot"] * vegetaux_nutrition["Nourriture_kg"]
vegetaux_nutrition.head(3)

<ipython-input-92-74caf7be98f9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Disp_alim_prot_vege_kg"] = vegetaux_nutrition["ratio_poidsprot"] * vegetaux_nutrition["Nourriture_kg"]

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Disp_interieure_vegetaux_pays_kg,Disp_interieure_vegetaux_pays_kcal,Nourriture_pays_vegetaux_kcal,Disp_inter_pays_prot_kg,Nourriture_mondiale_prot_vege_kg,Disp_alim_vegetaux_kcal,Aliments_animaux_vege_kcal,Pertes_vege_kcal,Nour_AlimAnimaux_Pertes_vege_kcal,Disp_alim_prot_vege_kg
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,41000000.0,1.172335e+10,1.115148e+10,234467.015385,223029.6,1.926324e+10,0.0,5.718708e+08,1.983511e+10,223029.6
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,2000000.0,1.115148e+10,1.115148e+10,334544.400000,334544.4,1.158145e+09,0.0,0.000000e+00,1.158145e+09,334544.4
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,0.0,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN

In [93]:
 # Dispo alimentaire en prot_kg de produit vegetaux mondiale
Disp_alim_prot_mondiale_vege_kg = vegetaux_nutrition["Disp_alim_prot_vege_kg"].sum()
Disp_alim_prot_mondiale_vege_kg

125093683161.3

In [94]:
message = " La disponibilité en kg de protéines végétale mondiale est de 1.25e+11"
print(message)

 La disponibilité en kg de protéines végétale mondiale est de 1.25e+11

In [95]:
# aliment animaux en prot végetales de chaque produit pour chaque zone
vegetaux_nutrition["Aliments_animaux_prot_vege_kg"]= vegetaux_nutrition["Aliments_animaux_vege_kg"]*vegetaux_nutrition["ratio_poidsprot"]

# perte en kCal de chaque produit pour chaque zone
vegetaux_nutrition["Pertes_prot_vege_kg"]= vegetaux_nutrition["Pertes_vege_kg"]*vegetaux_nutrition["ratio_poidsprot"]
vegetaux_nutrition.head(3)

<ipython-input-95-111bc280f2a5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Aliments_animaux_prot_vege_kg"]= vegetaux_nutrition["Aliments_animaux_vege_kg"]*vegetaux_nutrition["ratio_poidsprot"]
<ipython-input-95-111bc280f2a5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Pertes_prot_vege_kg"]= vegetaux_nutrition["Pertes_vege_kg"]*vegetaux_nutrition["ratio_poidsprot"]

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Nourriture_pays_vegetaux_kcal,Disp_inter_pays_prot_kg,Nourriture_mondiale_prot_vege_kg,Disp_alim_vegetaux_kcal,Aliments_animaux_vege_kcal,Pertes_vege_kcal,Nour_AlimAnimaux_Pertes_vege_kcal,Disp_alim_prot_vege_kg,Aliments_animaux_prot_vege_kg,Pertes_prot_vege_kg
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,1.115148e+10,234467.015385,223029.6,1.926324e+10,0.0,5.718708e+08,1.983511e+10,223029.6,0.0,11437.415385
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,1.115148e+10,334544.400000,334544.4,1.158145e+09,0.0,0.000000e+00,1.158145e+09,334544.4,0.0,0.000000
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
# somme Nourriture + Aliments Animaux + Pertes en prot_kg de chaque produit pour chaque zone
vegetaux_nutrition["Nour_AlimAnimaux_Pertes_prot_vege_kg"] = vegetaux_nutrition["Aliments_animaux_prot_vege_kg"] + vegetaux_nutrition["Pertes_prot_vege_kg"] + vegetaux_nutrition["Disp_alim_prot_vege_kg"]
vegetaux_nutrition.head(3)

<ipython-input-96-6fefe6debef7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Nour_AlimAnimaux_Pertes_prot_vege_kg"] = vegetaux_nutrition["Aliments_animaux_prot_vege_kg"] + vegetaux_nutrition["Pertes_prot_vege_kg"] + vegetaux_nutrition["Disp_alim_prot_vege_kg"]

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Disp_inter_pays_prot_kg,Nourriture_mondiale_prot_vege_kg,Disp_alim_vegetaux_kcal,Aliments_animaux_vege_kcal,Pertes_vege_kcal,Nour_AlimAnimaux_Pertes_vege_kcal,Disp_alim_prot_vege_kg,Aliments_animaux_prot_vege_kg,Pertes_prot_vege_kg,Nour_AlimAnimaux_Pertes_prot_vege_kg
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,234467.015385,223029.6,1.926324e+10,0.0,5.718708e+08,1.983511e+10,223029.6,0.0,11437.415385,234467.015385
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,334544.400000,334544.4,1.158145e+09,0.0,0.000000e+00,1.158145e+09,334544.4,0.0,0.000000,334544.400000
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
# Calculs en prot_kg mondiale des nourriture + Aliments animaux + pertes en vegetaux
Nour_AlimAnimaux_Pertes_mondiale_prot_vege_kg = vegetaux_nutrition.Nour_AlimAnimaux_Pertes_prot_vege_kg.sum()
Nour_AlimAnimaux_Pertes_mondiale_prot_vege_kg
#2757271424553164.0

203583064770.38013

In [98]:
message = " La somme en kg de protéines de la nourriture mondiale, aliments pour animaux mondiale et pertes\
alimentaires mondiale est     2.04e+11 kg"
print(message)

 La somme en kg de protéines de la nourriture mondiale, aliments pour animaux mondiale et pertesalimentaires mondiale est     2.04e+11 kg

In [99]:
# Rapport entre (nourriture + Aliments animaux + pertes) / Disponibilité intérieure (niveau mondial en prot_kg)
Nour_AlimAnimaux_Pertes_mondiale_vege_pourcent = Nour_AlimAnimaux_Pertes_mondiale_prot_vege_kg / Nourriture_mondiale_vegetaux_prot_kg * 100
Nour_AlimAnimaux_Pertes_mondiale_vege_pourcent

162.74448047698243

In [100]:
message = "La somme de nourriture mondiale, aliments animaux mondiales et les pertes mondiales \
provenant des végétaux est de 162.7%"
print(message)

La somme de nourriture mondiale, aliments animaux mondiales et les pertes mondiales provenant des végétaux est de 162.7%

In [101]:
Nombre_humain_mondialement_nourris_prot = Nour_AlimAnimaux_Pertes_mondiale_vege_pourcent * Population_mondiale_2013/100
Nombre_humain_mondialement_nourris_prot

11387761845.980816

In [102]:
message = "Environ 11 milliards de personnes pourraient être nourris dans le monde avec \
la disponibilité alimentaire mondiale en protéines provenant des végétaux."
print(message)

Environ 11 milliards de personnes pourraient être nourris dans le monde avec la disponibilité alimentaire mondiale en protéines provenant des végétaux.

# Question 9

Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

## Nombre d'humaine nourris kcal  = somme(Disponibilité alimentaire(kcal) / nourriture mondiale(Kcal)¶
Nous allons travailler avec le dataframe animaux_vegetaux_pop de la question 4

In [103]:
# calcul de la disponibilité alimentaire mondiale animaux végétaux
Disp_alim_anim_vege_mondiale_kcal =animaux_vegetaux_pop.Disp_alim_AniVegPop_kcal.sum()
Disp_alim_anim_vege_mondiale_kcal
# 77013948800000.0

7363883420185000

In [2]:
message = "La disponibilité alimentaire mondiale provenant des animaux et des végétaux en terme de kcal est de 7.4e+15 ou encore\
7.4 million de milliards, ou 7.4 billiards. "
print(message)

La disponibilité alimentaire mondiale provenant des animaux et des végétaux en terme de kcal est de 7.4e+15 ou encore7.4 million de milliards, ou 7.4 billiards.

In [105]:
#Calcul de la nourriture mondiale en kcal 
vegetaux_nutrition["Nourriture_mondiale_anim_vege_kcal"]= animaux_vegetaux_pop["Energie/poids(kcal/kg)"] * animaux_vegetaux_pop["Nourriture_kg"]

vegetaux_nutrition.head()

<ipython-input-105-3d54aabdee35>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Nourriture_mondiale_anim_vege_kcal"]= animaux_vegetaux_pop["Energie/poids(kcal/kg)"] * animaux_vegetaux_pop["Nourriture_kg"]

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Nourriture_mondiale_prot_vege_kg,Disp_alim_vegetaux_kcal,Aliments_animaux_vege_kcal,Pertes_vege_kcal,Nour_AlimAnimaux_Pertes_vege_kcal,Disp_alim_prot_vege_kg,Aliments_animaux_prot_vege_kg,Pertes_prot_vege_kg,Nour_AlimAnimaux_Pertes_prot_vege_kg,Nourriture_mondiale_anim_vege_kcal
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,223029.6,1.926324e+10,0.0,5.718708e+08,1.983511e+10,223029.6,0.0,11437.415385,234467.015385,1.115148e+10
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,334544.4,1.158145e+09,0.0,0.000000e+00,1.158145e+09,334544.4,0.0,0.000000,334544.400000,1.115148e+10
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,...,557574.0,1.207814e+11,0.0,0.000000e+00,1.207814e+11,557574.0,0.0,0.000000,557574.000000,4.460592e+10
6,Afghanistan,2,Bière,2656,vegetaux,0,0,0,0.09,0.00,...,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
# calcul de la nourriture mondiale
Disp_nourr_anim_vege_mondiale_kcal =vegetaux_nutrition.Nourriture_mondiale_anim_vege_kcal.sum()
Disp_nourr_anim_vege_mondiale_kcal

6048218497140000.0

In [107]:
message = " La nourriture mondiale provenant des animaux et végétaux est de 6.04e+15 kcal"
print(message)

 La nourriture mondiale provenant des animaux et végétaux est de 6.04e+15 kcal

In [108]:
# Calcul de la population potentielle qui pourrait être nourris en terme de kcal par rapport à la population mondiale
Nour_anim_vege_mondiale = 100 * Disp_alim_anim_vege_mondiale_kcal / Disp_nourr_anim_vege_mondiale_kcal 
Nour_anim_vege_mondiale

121.75293309372229

In [109]:
message = "Potientiellement 121% de la population mondiale pourrait être nourrie avec \
la disponibilité alimentaire énergique mondiale provenant des données végétaux animaux. Ainsi on peut nourrir \
1.26 fois la population mondiale"
print(message)

Potientiellement 121% de la population mondiale pourrait être nourrie avec la disponibilité alimentaire énergique mondiale provenant des données végétaux animaux. Ainsi on peut nourrir 1.26 fois la population mondiale

In [110]:
Nombre_humain_mondialement_nourris_animaux_vegetaux_kcal = Nour_anim_vege_mondiale * Population_mondiale_2013
Nombre_humain_mondialement_nourris_animaux_vegetaux_kcal

851944964312.9634

In [111]:
message = "Environ 8.5 milliards de personnes pourraient être nourris dans le monde avec la \
disponibilité alimentaire mondiale énergétique provenant des données animaux et végétaux"
print(message)

Environ 8.5 milliards de personnes pourraient être nourris dans le monde avec la disponibilité alimentaire mondiale énergétique provenant des données animaux et végétaux

In [112]:
#Disponibilité alimentaire en protéine kg pour chaque pays et pour chaque produit
Disp_alim_anim_vege_mondiale_prot_kg =animaux_vegetaux_pop.Disp_prot_AniVegPop_kg.sum()
Disp_alim_anim_vege_mondiale_prot_kg

207259180075.55002

In [113]:
message = "La disponibilité alimentaire mondiale provenant des animaux et des végétaux \
en terme de protéines est de 2.07e+11 "
print(message)

La disponibilité alimentaire mondiale provenant des animaux et des végétaux en terme de protéines est de 2.07e+11

In [114]:
# calcul de la nourriture mondiale en kg de protéine animaux et végétaux 
vegetaux_nutrition["Nourriture_pays_anim_vege_prot_kg"]= animaux_vegetaux_pop["ratio_poidsprot"] * animaux_vegetaux_pop["Nourriture_kg"]
vegetaux_nutrition.head(3)

<ipython-input-114-ba34d6b0c1e3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["Nourriture_pays_anim_vege_prot_kg"]= animaux_vegetaux_pop["ratio_poidsprot"] * animaux_vegetaux_pop["Nourriture_kg"]

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Disp_alim_vegetaux_kcal,Aliments_animaux_vege_kcal,Pertes_vege_kcal,Nour_AlimAnimaux_Pertes_vege_kcal,Disp_alim_prot_vege_kg,Aliments_animaux_prot_vege_kg,Pertes_prot_vege_kg,Nour_AlimAnimaux_Pertes_prot_vege_kg,Nourriture_mondiale_anim_vege_kcal,Nourriture_pays_anim_vege_prot_kg
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,1.926324e+10,0.0,5.718708e+08,1.983511e+10,223029.6,0.0,11437.415385,234467.015385,1.115148e+10,223029.6
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,1.158145e+09,0.0,0.000000e+00,1.158145e+09,334544.4,0.0,0.000000,334544.400000,1.115148e+10,334544.4
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
Nourriture_mondiale_animaux_vegetaux_prot_kg = vegetaux_nutrition["Nourriture_pays_anim_vege_prot_kg"].sum()
Nourriture_mondiale_animaux_vegetaux_prot_kg

125093683161.3

In [116]:
message = " Nourriture mondiale provenant des animaux et des végétaux en kg de protéines est de 1.25e+11"
print(message)

 Nourriture mondiale provenant des animaux et des végétaux en kg de protéines est de 1.25e+11

In [117]:
# Calcul de la population potentielle qui pourrait être nourris en terme de kg de protéine par rapport à la population mondiale
Nour_anim_vege_mondiale = 100 * Disp_alim_anim_vege_mondiale_prot_kg / Nourriture_mondiale_animaux_vegetaux_prot_kg 
Nour_anim_vege_mondiale

165.68317027511537

In [118]:
message = "Potientiellement 166% de la population mondiale pourrait être nourrie avec \
la disponibilité alimentaire en kg de protéines mondiale provenant des données végétaux animaux"
print(message)

Potientiellement 166% de la population mondiale pourrait être nourrie avec la disponibilité alimentaire en kg de protéines mondiale provenant des données végétaux animaux

In [119]:
# Nombre d'humain mondialment nourris en terme de protéine
Nombre_humain_mondialement_nourris_animaux_vegetaux_prot = Nour_anim_vege_mondiale * Population_mondiale_2013
Nombre_humain_mondialement_nourris_animaux_vegetaux_prot

1159339155128.492

In [120]:
message = "Environ 11.6 milliards de personnes pourraient être nourris dans le monde avec la \
disponibilité alimentaire mondiale en kg de protéines provenant des données animaux et végétaux"
print(message)

Environ 11.6 milliards de personnes pourraient être nourris dans le monde avec la disponibilité alimentaire mondiale en kg de protéines provenant des données animaux et végétaux

# Question 10

A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

In [121]:
sous_nutrition.describe()

         Code zone  Code Élément  Code Produit    Code année  Note
count  1020.000000        1020.0        1020.0  1.020000e+03   0.0
mean    129.264706        6132.0      210011.0  2.014202e+07   NaN
std      76.615019           0.0           0.0  1.415049e+04   NaN
min       1.000000        6132.0      210011.0  2.012201e+07   NaN
25%      62.500000        6132.0      210011.0  2.013202e+07   NaN
50%     127.500000        6132.0      210011.0  2.014202e+07   NaN
75%     193.250000        6132.0      210011.0  2.015202e+07   NaN
max     351.000000        6132.0      210011.0  2.016202e+07   NaN

In [122]:
sous_nutrition.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.6,F,Estimation FAO,NaN
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,10.2,F,Estimation FAO,NaN
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,10.6,F,Estimation FAO,NaN

In [123]:
# Nous allons renomer les colonnes du dataframe sous_nutrition 
sous_nutrition_df = sous_nutrition.rename(columns= { "Code Domaine": "code_domaine","Domaine": "domaine", "Code zone": "code_zone","Zone": "zone",
                                          "Code Élément": "code_element", "Élément": "element", "Code Produit": "code_produit", "Produit": "produit",
                                          "Code année": "code_annee", "Année": "annee","Unité": "unite",
                                         "Valeur": "valeur", "Symbole": "symbole","Description du Symbole": "description_symbole","Note":"note"})

In [124]:
#Nous allons maintenant recupérer les données officielles selon la FAO dans la colonne description_symbole. 
# Les valeurs "non rapportée et non disponibles" sont nulles
sous_nutrition_df.description_symbole.unique()

array(['Estimation FAO', 'Non rapportée', 'Non disponible'], dtype=object)

In [125]:
# Nous allons garder que les données Estimation FAO pour cela nous allons faire un masque 
sous_nutrition_df = sous_nutrition_df[sous_nutrition_df["description_symbole"] =='Estimation FAO' ]
sous_nutrition_df.head(2)

,code_domaine,domaine,code_zone,zone,code_element,element,code_produit,produit,code_annee,annee,unite,valeur,symbole,description_symbole,note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN

In [126]:
#Nous allons remplacer les <0.1 par 0.
#sous_nutrition_df.replace('<0.1', 0 ,inplace=True)

In [127]:
#to_numeric nous permet de remplacer la valeur <0.1 en NaN. plus besoin du replace
sous_nutrition_df["valeur"] = pd.to_numeric(sous_nutrition_df["valeur"],errors= 'coerce',downcast=None)
sous_nutrition_df
#pandas.to_numeric(arg, errors='raise, coerce', downcast=None)
#If ‘coerce’, then invalid parsing will be set as NaN.

,code_domaine,domaine,code_zone,zone,code_element,element,code_produit,produit,code_annee,annee,unite,valeur,symbole,description_symbole,note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.6,F,Estimation FAO,NaN
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,10.2,F,Estimation FAO,NaN
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,10.6,F,Estimation FAO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,6.6,F,Estimation FAO,NaN
1016,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,7.2,F,Estimation FAO,NaN
1017,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,7.8,F,Estimation FAO,NaN
1018,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,8.2,F,Estimation FAO,NaN
1019,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,8.5,F,Estimation FAO,NaN

In [128]:
# conversion du nombre de personnes sous nutris par pays
sous_nutrition_df["pop_sous_nutri_pays"]= 1e6 * sous_nutrition_df["valeur"] 
sous_nutrition_df.head(3)

,code_domaine,domaine,code_zone,zone,code_element,element,code_produit,produit,code_annee,annee,unite,valeur,symbole,description_symbole,note,pop_sous_nutri_pays
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN,7900000.0
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN,8800000.0
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.6,F,Estimation FAO,NaN,9600000.0

In [129]:
# On fait un tableau croisé dynamique  du dataframe "sous_nutrition_df" pour que les éléments de la combinaison code_zone et année 
# soient affichés par colonne.

In [130]:
# Nous allons supprimer les NaN de la colonne pop_sous_nutri_pays
#sous_nutrition_df.dropna(subset = ["pop_sous_nutri_pays"], how = "all", inplace =True)

In [131]:
sous_nutrition_pivot = sous_nutrition_df.pivot_table("pop_sous_nutri_pays", index = ["zone","code_zone","produit", "code_produit"], columns = "annee", fill_value = 0)
# Nous faisons par la même occasion un reset_index pour nous permettre de faire les calculs avec les élements de l'index
sous_nutrition_pivot = sous_nutrition_pivot.reset_index()
sous_nutrition_pivot.head()

annee,zone,code_zone,produit,code_produit,2012-2014,2013-2015,2014-2016,2015-2017,2016-2018
0,Afghanistan,2,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,9600000,10200000,10600000
1,Afrique du Sud,202,Nombre de personnes sous-alimentées (millions)...,210011,2600000,2800000,3200000,3400000,3500000
2,Albanie,3,Nombre de personnes sous-alimentées (millions)...,210011,200000,200000,200000,200000,200000
3,Algérie,4,Nombre de personnes sous-alimentées (millions)...,210011,1700000,1600000,1600000,1600000,1600000
4,Angola,7,Nombre de personnes sous-alimentées (millions)...,210011,8100000,7600000,7400000,7400000,7400000

In [132]:
# Les données qui nous intéresse sont celles de l'année 2013.
sous_nutrition_pivot_2013 = pd.DataFrame(sous_nutrition_pivot, columns = ["zone", "code_zone", "produit", "code_produit", 
                                                                          "2012-2014","2013-2015"])
# Calcul des personnes en sous nutrition par pays pour l'année 2013:
# on fait la moyenne entre la pop 2012-2014 et 2013-2015
sous_nutrition_pivot_2013["pop_sous_nutri_2013"] = (sous_nutrition_pivot_2013["2012-2014"] + sous_nutrition_pivot_2013["2013-2015"])/2

In [133]:
# Nous alons faire une jointure entre le dataframe sous_nutrition_pivot_2013 et filtered_population_df pour avoir la colonne
# population_totale
sous_nutrition_pivot_join = pd.merge(sous_nutrition_pivot_2013, filtered_population_df, left_on =['zone','code_zone'], right_on =['zone','code_zone'] )
sous_nutrition_pivot_join.head(2)

,zone,code_zone,produit_x,code_produit_x,2012-2014,2013-2015,pop_sous_nutri_2013,code_domaine,domaine,code_element,element,code_produit_y,produit_y,code_annee,annee,unite,valeur,symbole,description_symbole,Population_totale
0,Afghanistan,2,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000
1,Afrique du Sud,202,Nombre de personnes sous-alimentées (millions)...,210011,2600000,2800000,2700000.0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle,52776000

In [134]:
sous_nutrition_pivot_join["proportion_pop_sous_nutri_2013"] = 100 * sous_nutrition_pivot_join["pop_sous_nutri_2013"] /sous_nutrition_pivot_join["Population_totale"]
sous_nutrition_pivot_join

,zone,code_zone,produit_x,code_produit_x,2012-2014,2013-2015,pop_sous_nutri_2013,code_domaine,domaine,code_element,...,code_produit_y,produit_y,code_annee,annee,unite,valeur,symbole,description_symbole,Population_totale,proportion_pop_sous_nutri_2013
0,Afghanistan,2,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,511,...,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle,30552000,27.330453
1,Afrique du Sud,202,Nombre de personnes sous-alimentées (millions)...,210011,2600000,2800000,2700000.0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,511,...,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle,52776000,5.115962
2,Albanie,3,Nombre de personnes sous-alimentées (millions)...,210011,200000,200000,200000.0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,511,...,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle,3173000,6.303183
3,Algérie,4,Nombre de personnes sous-alimentées (millions)...,210011,1700000,1600000,1650000.0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,511,...,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle,39208000,4.208325
4,Angola,7,Nombre de personnes sous-alimentées (millions)...,210011,8100000,7600000,7850000.0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,511,...,2501,Population,2013,2013,1000 personnes,21472,NaN,Donnée officielle,21472000,36.559240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,Zimbabwe,181,Nombre de personnes sous-alimentées (millions)...,210011,6600000,7200000,6900000.0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,511,...,2501,Population,2013,2013,1000 personnes,14150,NaN,Donnée officielle,14150000,48.763251
94,Égypte,59,Nombre de personnes sous-alimentées (millions)...,210011,3900000,4000000,3950000.0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,511,...,2501,Population,2013,2013,1000 personnes,82056,NaN,Donnée officielle,82056000,4.813786
95,Émirats arabes unis,225,Nombre de personnes sous-alimentées (millions)...,210011,400000,300000,350000.0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,511,...,2501,Population,2013,2013,1000 personnes,9346,NaN,Donnée officielle,9346000,3.744918
96,Équateur,58,Nombre de personnes sous-alimentées (millions)...,210011,1300000,1300000,1300000.0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,511,...,2501,Population,2013,2013,1000 personnes,15738,NaN,Donnée officielle,15738000,8.260262
97,Éthiopie,238,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,511,...,2501,Population,2013,2013,1000 personnes,94101,NaN,Donnée officielle,94101000,26.088989

In [135]:
sous_nutrition_pivot_2013_moyenne =  sous_nutrition_pivot_2013["pop_sous_nutri_2013"].sum()
sous_nutrition_pivot_2013_moyenne

873250000.0

In [136]:
message = " La population en sous nutrition en 2013 est de 873250000.0"
print(message)

 La population en sous nutrition en 2013 est de 873250000.0

In [137]:
# Calcul de la moyenne de la population en sous-nutrition durant l'année 2013
proportion_pop_mondiale_sous_nutri_2013 = 100 * sous_nutrition_pivot_2013_moyenne/ Population_mondiale_2013
proportion_pop_mondiale_sous_nutri_2013

12.47976727109756

In [138]:
message = "12,5% de la population mondiale est considérée comme étant en sous-nutrition"
print(message)

12,5% de la population mondiale est considérée comme étant en sous-nutrition

# Question 11

Établissez la liste des produits (ainsi que leur code) considéré comme des céréales selon la FAO.

Repérez dans vos données les informations concernant les céréales (par exemple en créant une colonne de type booléen nommée "is_cereal").

In [139]:
cereales.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,342,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2513,Orge,2013,2013,Milliers de tonnes,514,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2514,Maïs,2013,2013,Milliers de tonnes,312,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2517,Millet,2013,2013,Milliers de tonnes,13,S,Données standardisées

In [140]:
# Nous allons renomer les colonnes du dataframe cereales 
cereales = cereales.rename(columns= { "Code Domaine": "code_domaine","Domaine": "domaine", "Code zone": "code_zone","Zone": "zone",
                                          "Code Élément": "code_element", "Élément": "element", "Code Produit": "code_produit", "Produit": "produit",
                                          "Code année": "code_annee", "Année": "annee","Unité": "unite",
                                         "Valeur": "valeur", "Symbole": "symbole","Description du Symbole": "description_symbole"})

In [141]:
cereales_df =pd.DataFrame (cereales, columns =["zone", "code_zone", "code_produit", "produit"])
cereales_df

            zone  code_zone  code_produit           produit
0    Afghanistan          2          2511               Blé
1    Afghanistan          2          2805  Riz (Eq Blanchi)
2    Afghanistan          2          2513              Orge
3    Afghanistan          2          2514              Maïs
4    Afghanistan          2          2517            Millet
..           ...        ...           ...               ...
886     Zimbabwe        181          2514              Maïs
887     Zimbabwe        181          2516            Avoine
888     Zimbabwe        181          2517            Millet
889     Zimbabwe        181          2518            Sorgho
890     Zimbabwe        181          2520  Céréales, Autres

[891 rows x 4 columns]

In [142]:
cereales_unique = cereales_df.code_produit.unique()

In [143]:
# Nous allons travailler uniquement avec le dataframe vegetaux, car c'est lui qui contient les produits céréales.
vegetaux_nutrition["is_cereal"] = vegetaux_nutrition["code_produit_x"].isin(cereales_unique)
vegetaux_nutrition.head()

<ipython-input-143-7cea54618118>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_nutrition["is_cereal"] = vegetaux_nutrition["code_produit_x"].isin(cereales_unique)

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Aliments_animaux_vege_kcal,Pertes_vege_kcal,Nour_AlimAnimaux_Pertes_vege_kcal,Disp_alim_prot_vege_kg,Aliments_animaux_prot_vege_kg,Pertes_prot_vege_kg,Nour_AlimAnimaux_Pertes_prot_vege_kg,Nourriture_mondiale_anim_vege_kcal,Nourriture_pays_anim_vege_prot_kg,is_cereal
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,0.0,5.718708e+08,1.983511e+10,223029.6,0.0,11437.415385,234467.015385,1.115148e+10,223029.6,False
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,0.0,0.000000e+00,1.158145e+09,334544.4,0.0,0.000000,334544.400000,1.115148e+10,334544.4,False
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,...,0.0,0.000000e+00,1.207814e+11,557574.0,0.0,0.000000,557574.000000,4.460592e+10,557574.0,False
6,Afghanistan,2,Bière,2656,vegetaux,0,0,0,0.09,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

 En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?

In [144]:
# Nous faisons une restriction du DataFrame vegetaux_nutrition afin de récupérer uniquement les colonnes dont-on a besoin
vegetaux_contenant_cereal = pd.DataFrame(vegetaux_nutrition, columns = ["zone", "code_zone", "code_produit_x", 
                                                                        "produit_x","Aliments_animaux_vege_kg",
                                                                        "Nourriture_kg"])
# Dans le DataFrame vegetaux_contenant_cereal on fait une autre restrictriction pour avoir les produits contenant 
# les céréales en utilisant isin

vegetaux_contenant_cereal["is_cereal"] = vegetaux_contenant_cereal["code_produit_x"].isin(cereales_unique)
vegetaux_contenant_cereal.head()

,zone,code_zone,code_produit_x,produit_x,Aliments_animaux_vege_kg,Nourriture_kg,is_cereal
1,Afghanistan,2,2614,"Agrumes, Autres",0.0,39000000.0,False
2,Afghanistan,2,2680,Aliments pour enfants,0.0,2000000.0,False
3,Afghanistan,2,2618,Ananas,0.0,0.0,False
4,Afghanistan,2,2615,Bananes,0.0,82000000.0,False
6,Afghanistan,2,2656,Bière,0.0,3000000.0,False

In [145]:
# Nous faisons ensuite un filtrage pour sélectionner les aliments pour animaux qui sont des céréales

vegetaux_humaine_animale_cereal= vegetaux_contenant_cereal[vegetaux_contenant_cereal.is_cereal == True]
vegetaux_humaine_animale_cereal.head()

,zone,code_zone,code_produit_x,produit_x,Aliments_animaux_vege_kg,Nourriture_kg,is_cereal
7,Afghanistan,2,2511,Blé,0.0,4.895000e+09,True
12,Afghanistan,2,2520,"Céréales, Autres",0.0,0.000000e+00,True
32,Afghanistan,2,2514,Maïs,200000000.0,7.600000e+07,True
34,Afghanistan,2,2517,Millet,0.0,1.200000e+07,True
40,Afghanistan,2,2513,Orge,360000000.0,8.900000e+07,True

In [146]:
# Calcul de la somme aliment_animaux_kg de céréales

Aliments_animaux_is_cereal_kg = vegetaux_humaine_animale_cereal["Aliments_animaux_vege_kg"].sum()
Aliments_animaux_is_cereal_kg

873535000000.0

In [147]:
message = "L'alimentation en céréales destinées à l'alimentation des animaux est de 8.7e+11 kg "
print(message)

L'alimentation en céréales destinées à l'alimentation des animaux est de 8.7e+11 kg

In [148]:
# Calcul de la somme Nourriture_kg en céréales
Nourriture_is_cereal_kg = vegetaux_humaine_animale_cereal ["Nourriture_kg"].sum()
Nourriture_is_cereal_kg

1029010000000.0

In [149]:
message = "Nourriture totale en céréale (aliments destinés aux animaux et aliments destinées à l'alimentation humaine)\
est de 1.03e+12"
print(message)

Nourriture totale en céréale (aliments destinés aux animaux et aliments destinées à l'alimentation humaine)est de 1.03e+12

In [150]:
# Calcul du rapport Aliments_animaux_is_cereal_kg/ Nourriture_is_cereal_kg en %

Rapport_Aliments_animaux_Nourriture_is_cereal = Aliments_animaux_is_cereal_kg \
                                            / (Nourriture_is_cereal_kg + Aliments_animaux_is_cereal_kg)* 100 

Rapport_Aliments_animaux_Nourriture_is_cereal

45.91402568664604

In [151]:
message = "En 2013, la proportion de nourriture en termes de céréales destinés à l'alimentation des animaux répresente 46% des céréales totales produit"
print(message)

En 2013, la proportion de nourriture en termes de céréales destinés à l'alimentation des animaux répresente 46% des céréales totales produit

# Question 12

Sélectionnez parmi les données des bilans alimentaires les informations relatives aux pays dans lesquels la FAO recense des personnes en sous-nutrition.

In [152]:
# Nous allons faire une jointure à droite entre le dataframe animaux_vegetaux_pop et le dataframe sous_nutrition_pivot_13
sous_nutrition_FAO = pd.merge(animaux_vegetaux_pop, sous_nutrition_pivot_2013, left_on =['zone','code_zone'],\
                                                                              right_on =['zone','code_zone'] )

sous_nutrition_FAO

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Disp_prot_AniVegPop_kg,Nourriture_kg,Energie/poids(kcal/kg),ratio_poidsprot,poids_proteines/poids_total_%,produit,code_produit,2012-2014,2013-2015,pop_sous_nutri_2013
0,Afghanistan,2,Abats Comestible,2736,animaux,0,0,5,1.72,0.20,...,8586639.60,53000000.0,1052.026415,0.162012,16.201207,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0
1,Afghanistan,2,"Agrumes, Autres",2614,vegetaux,0,0,1,1.29,0.01,...,223029.60,39000000.0,285.935385,0.005719,0.571871,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0
2,Afghanistan,2,Aliments pour enfants,2680,vegetaux,0,0,1,0.06,0.01,...,334544.40,2000000.0,5575.740000,0.167272,16.727220,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0
3,Afghanistan,2,Ananas,2618,vegetaux,0,0,0,0.00,0.00,...,0.00,0.0,NaN,NaN,NaN,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0
4,Afghanistan,2,Bananes,2615,vegetaux,0,0,4,2.70,0.02,...,557574.00,82000000.0,543.974634,0.006800,0.679968,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8725,Éthiopie,238,Viande de Suides,2733,animaux,0,0,0,0.02,0.02,...,343468.65,2000000.0,NaN,0.171734,17.173433,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0
8726,Éthiopie,238,Viande de Volailles,2734,animaux,0,0,2,0.66,0.14,...,7556310.30,62000000.0,1107.963387,0.121876,12.187597,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0
8727,Éthiopie,238,"Viande, Autre",2735,animaux,0,0,4,1.20,0.18,...,18890775.75,113000000.0,1215.818230,0.167175,16.717501,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0
8728,Éthiopie,238,Vin,2655,vegetaux,0,0,0,0.02,0.00,...,0.00,2000000.0,NaN,NaN,NaN,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0
8729,Éthiopie,238,"Épices, Autres",2645,vegetaux,0,0,3,0.29,0.12,...,3091217.85,27000000.0,3816.318333,0.114490,11.448955,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0

Repérez les 15 produits les plus exportés par ce groupe de pays.

In [153]:
# Calcul pour chaque produit le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) 
# et la disponibilité intérieure

sous_nutrition_FAO["ratio_autre_util_disp_interieure"] = 100 * sous_nutrition_FAO["Autres_utilisations"]/ sous_nutrition_FAO["Disp_interieure"]

# On fait un filtre des valeurs ratio_autres_util_disp_int > 0

sous_nutrition_FAO = sous_nutrition_FAO[sous_nutrition_FAO["ratio_autre_util_disp_interieure"] > 0]
sous_nutrition_FAO

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Nourriture_kg,Energie/poids(kcal/kg),ratio_poidsprot,poids_proteines/poids_total_%,produit,code_produit,2012-2014,2013-2015,pop_sous_nutri_2013,ratio_autre_util_disp_interieure
20,Afghanistan,2,Huil Plantes Oleif Autr,2586,vegetaux,0,359,2,0.08,0.21,...,2.000000e+06,11151.480000,NaN,NaN,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,99.445983
21,Afghanistan,2,Huile Graines de Coton,2575,vegetaux,0,1,3,0.12,0.34,...,4.000000e+06,8363.610000,NaN,NaN,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,20.000000
25,Afghanistan,2,Huile de Palme,2577,vegetaux,0,55,51,2.09,5.74,...,6.400000e+07,8886.335625,NaN,NaN,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,46.218487
60,Afrique du Sud,202,Abats Comestible,2736,animaux,0,48,17,4.81,0.53,...,2.540000e+08,1289.271969,0.195666,19.566598,Nombre de personnes sous-alimentées (millions)...,210011,2600000,2800000,2700000.0,15.894040
62,Afrique du Sud,202,"Alcool, non Comestible",2659,vegetaux,0,38,0,0.00,0.00,...,0.000000e+00,NaN,NaN,NaN,Nombre de personnes sous-alimentées (millions)...,210011,2600000,2800000,2700000.0,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8648,Éthiopie,238,Blé,2511,vegetaux,0,1600,284,31.26,0.88,...,2.942000e+09,3315.604915,0.098884,9.888441,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,32.613127
8657,Éthiopie,238,"Céréales, Autres",2520,vegetaux,0,469,254,26.52,0.77,...,2.495000e+09,3496.634754,0.095951,9.595096,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,14.324985
8668,Éthiopie,238,Huil Plantes Oleif Autr,2586,vegetaux,0,54,12,0.48,1.32,...,4.500000e+07,9159.164000,NaN,NaN,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,54.545455
8675,Éthiopie,238,Huile de Palme,2577,vegetaux,0,18,53,2.18,5.97,...,2.050000e+08,8879.921195,NaN,NaN,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,8.071749
8716,Éthiopie,238,Sorgho,2518,vegetaux,0,1500,216,25.51,2.08,...,2.401000e+09,3089.930379,0.090838,9.083823,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,36.092397

In [154]:
# Calcul du ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture
# (animale + humaine)

sous_nutrition_FAO["ratio_nour_anim_anim_humain"] = 100* (sous_nutrition_FAO["Aliments_animaux"] /(sous_nutrition_FAO["Aliments_animaux"]+ sous_nutrition_FAO["Nourriture"]))

# Filtre des valeurs ratio_autres_util_disp_int > 0
sous_nutrition_FAO_filtre = sous_nutrition_FAO[sous_nutrition_FAO["ratio_nour_anim_anim_humain"] > 0]
sous_nutrition_FAO_filtre

<ipython-input-154-5474a1e95c3c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sous_nutrition_FAO["ratio_nour_anim_anim_humain"] = 100* (sous_nutrition_FAO["Aliments_animaux"] /(sous_nutrition_FAO["Aliments_animaux"]+ sous_nutrition_FAO["Nourriture"]))

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Energie/poids(kcal/kg),ratio_poidsprot,poids_proteines/poids_total_%,produit,code_produit,2012-2014,2013-2015,pop_sous_nutri_2013,ratio_autre_util_disp_interieure,ratio_nour_anim_anim_humain
135,Afrique du Sud,202,Pommes de Terre,2531,vegetaux,217,103,60,30.66,0.08,...,714.335229,0.015001,1.500104,Nombre de personnes sous-alimentées (millions)...,210011,2600000,2800000,2700000.0,4.844779,11.825613
167,Albanie,3,Blé,2511,vegetaux,18,130,1056,138.64,5.85,...,2779.548000,0.088545,8.854545,Nombre de personnes sous-alimentées (millions)...,210011,200000,200000,200000.0,20.000000,3.930131
200,Albanie,3,Lait - Excl Beurre,2848,animaux,101,2,533,303.72,31.43,...,640.343657,0.035994,3.599380,Nombre de personnes sous-alimentées (millions)...,210011,200000,200000,200000.0,0.173461,9.483568
204,Albanie,3,Maïs,2514,vegetaux,361,3,13,1.79,0.04,...,2509.314167,0.059837,5.983749,Nombre de personnes sous-alimentées (millions)...,210011,200000,200000,200000.0,0.714286,98.365123
214,Albanie,3,Orge,2513,vegetaux,7,1,1,0.16,0.00,...,1158.145000,0.034744,3.474435,Nombre de personnes sous-alimentées (millions)...,210011,200000,200000,200000.0,5.263158,87.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8555,Équateur,58,Blé,2511,vegetaux,1,3,302,39.19,1.32,...,2811.668947,0.073923,7.392269,Nombre de personnes sous-alimentées (millions)...,210011,1300000,1300000,1300000.0,0.481541,0.161812
8589,Équateur,58,Lait - Excl Beurre,2848,animaux,124,1,228,139.60,13.96,...,596.138534,0.032631,3.263074,Nombre de personnes sous-alimentées (millions)...,210011,1300000,1300000,1300000.0,0.042248,5.342525
8593,Équateur,58,Maïs,2514,vegetaux,830,633,66,8.30,0.78,...,2894.110076,0.074984,7.498376,Nombre de personnes sous-alimentées (millions)...,210011,1300000,1300000,1300000.0,37.455621,86.368366
8617,Équateur,58,Pommes de Terre,2531,vegetaux,2,7,38,19.33,0.10,...,718.046250,0.018518,1.851803,Nombre de personnes sous-alimentées (millions)...,210011,1300000,1300000,1300000.0,1.907357,0.653595
8627,Équateur,58,"Sucre, canne",2536,vegetaux,120,777,0,0.00,0.00,...,NaN,NaN,NaN,Nombre de personnes sous-alimentées (millions)...,210011,1300000,1300000,1300000.0,10.854987,100.000000

In [155]:
# Calcul du ratio des produits exportés pour chaque pays
sous_nutrition_FAO["ratio_export_production"] = 100 * sous_nutrition_FAO["Exportations"]/ sous_nutrition_FAO["Production"] 
sous_nutrition_FAO

<ipython-input-155-e5baf9275506>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sous_nutrition_FAO["ratio_export_production"] = 100 * sous_nutrition_FAO["Exportations"]/ sous_nutrition_FAO["Production"]

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,ratio_poidsprot,poids_proteines/poids_total_%,produit,code_produit,2012-2014,2013-2015,pop_sous_nutri_2013,ratio_autre_util_disp_interieure,ratio_nour_anim_anim_humain,ratio_export_production
20,Afghanistan,2,Huil Plantes Oleif Autr,2586,vegetaux,0,359,2,0.08,0.21,...,NaN,NaN,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,99.445983,0.0,0.000000
21,Afghanistan,2,Huile Graines de Coton,2575,vegetaux,0,1,3,0.12,0.34,...,NaN,NaN,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,20.000000,0.0,0.000000
25,Afghanistan,2,Huile de Palme,2577,vegetaux,0,55,51,2.09,5.74,...,NaN,NaN,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,46.218487,0.0,NaN
60,Afrique du Sud,202,Abats Comestible,2736,animaux,0,48,17,4.81,0.53,...,0.195666,19.566598,Nombre de personnes sous-alimentées (millions)...,210011,2600000,2800000,2700000.0,15.894040,0.0,4.149378
62,Afrique du Sud,202,"Alcool, non Comestible",2659,vegetaux,0,38,0,0.00,0.00,...,NaN,NaN,Nombre de personnes sous-alimentées (millions)...,210011,2600000,2800000,2700000.0,100.000000,NaN,88.557214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8648,Éthiopie,238,Blé,2511,vegetaux,0,1600,284,31.26,0.88,...,0.098884,9.888441,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,32.613127,0.0,0.074276
8657,Éthiopie,238,"Céréales, Autres",2520,vegetaux,0,469,254,26.52,0.77,...,0.095951,9.595096,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,14.324985,0.0,0.000000
8668,Éthiopie,238,Huil Plantes Oleif Autr,2586,vegetaux,0,54,12,0.48,1.32,...,NaN,NaN,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,54.545455,0.0,0.000000
8675,Éthiopie,238,Huile de Palme,2577,vegetaux,0,18,53,2.18,5.97,...,NaN,NaN,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,8.071749,0.0,NaN
8716,Éthiopie,238,Sorgho,2518,vegetaux,0,1500,216,25.51,2.08,...,0.090838,9.083823,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,36.092397,0.0,0.276625

In [156]:
sous_nutrition_13_unique = sous_nutrition_pivot_2013.code_zone.unique()

In [157]:
# Nous créons la colonne is_sous_nutri du DataFrame sous_nutrition_FAO par le code_zone, 
# pour avoir les pays en sous-nutrition
sous_nutrition_FAO["is_sous_nutri"] = sous_nutrition_FAO["code_zone"].isin(sous_nutrition_13_unique)
sous_nutrition_FAO

<ipython-input-157-40b93150b6bb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sous_nutrition_FAO["is_sous_nutri"] = sous_nutrition_FAO["code_zone"].isin(sous_nutrition_13_unique)

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,poids_proteines/poids_total_%,produit,code_produit,2012-2014,2013-2015,pop_sous_nutri_2013,ratio_autre_util_disp_interieure,ratio_nour_anim_anim_humain,ratio_export_production,is_sous_nutri
20,Afghanistan,2,Huil Plantes Oleif Autr,2586,vegetaux,0,359,2,0.08,0.21,...,NaN,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,99.445983,0.0,0.000000,True
21,Afghanistan,2,Huile Graines de Coton,2575,vegetaux,0,1,3,0.12,0.34,...,NaN,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,20.000000,0.0,0.000000,True
25,Afghanistan,2,Huile de Palme,2577,vegetaux,0,55,51,2.09,5.74,...,NaN,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,46.218487,0.0,NaN,True
60,Afrique du Sud,202,Abats Comestible,2736,animaux,0,48,17,4.81,0.53,...,19.566598,Nombre de personnes sous-alimentées (millions)...,210011,2600000,2800000,2700000.0,15.894040,0.0,4.149378,True
62,Afrique du Sud,202,"Alcool, non Comestible",2659,vegetaux,0,38,0,0.00,0.00,...,NaN,Nombre de personnes sous-alimentées (millions)...,210011,2600000,2800000,2700000.0,100.000000,NaN,88.557214,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8648,Éthiopie,238,Blé,2511,vegetaux,0,1600,284,31.26,0.88,...,9.888441,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,32.613127,0.0,0.074276,True
8657,Éthiopie,238,"Céréales, Autres",2520,vegetaux,0,469,254,26.52,0.77,...,9.595096,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,14.324985,0.0,0.000000,True
8668,Éthiopie,238,Huil Plantes Oleif Autr,2586,vegetaux,0,54,12,0.48,1.32,...,NaN,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,54.545455,0.0,0.000000,True
8675,Éthiopie,238,Huile de Palme,2577,vegetaux,0,18,53,2.18,5.97,...,NaN,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,8.071749,0.0,NaN,True
8716,Éthiopie,238,Sorgho,2518,vegetaux,0,1500,216,25.51,2.08,...,9.083823,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,36.092397,0.0,0.276625,True

In [158]:
# Nous allons faire une restriction du dataframe sous_nutrition_FAO pour sélectionner uniquement 
# les pays qui sont en sous nutrition
sous_nutrition_FAO_true= sous_nutrition_FAO[sous_nutrition_FAO.is_sous_nutri == True]
sous_nutrition_FAO_true

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,poids_proteines/poids_total_%,produit,code_produit,2012-2014,2013-2015,pop_sous_nutri_2013,ratio_autre_util_disp_interieure,ratio_nour_anim_anim_humain,ratio_export_production,is_sous_nutri
20,Afghanistan,2,Huil Plantes Oleif Autr,2586,vegetaux,0,359,2,0.08,0.21,...,NaN,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,99.445983,0.0,0.000000,True
21,Afghanistan,2,Huile Graines de Coton,2575,vegetaux,0,1,3,0.12,0.34,...,NaN,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,20.000000,0.0,0.000000,True
25,Afghanistan,2,Huile de Palme,2577,vegetaux,0,55,51,2.09,5.74,...,NaN,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,46.218487,0.0,NaN,True
60,Afrique du Sud,202,Abats Comestible,2736,animaux,0,48,17,4.81,0.53,...,19.566598,Nombre de personnes sous-alimentées (millions)...,210011,2600000,2800000,2700000.0,15.894040,0.0,4.149378,True
62,Afrique du Sud,202,"Alcool, non Comestible",2659,vegetaux,0,38,0,0.00,0.00,...,NaN,Nombre de personnes sous-alimentées (millions)...,210011,2600000,2800000,2700000.0,100.000000,NaN,88.557214,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8648,Éthiopie,238,Blé,2511,vegetaux,0,1600,284,31.26,0.88,...,9.888441,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,32.613127,0.0,0.074276,True
8657,Éthiopie,238,"Céréales, Autres",2520,vegetaux,0,469,254,26.52,0.77,...,9.595096,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,14.324985,0.0,0.000000,True
8668,Éthiopie,238,Huil Plantes Oleif Autr,2586,vegetaux,0,54,12,0.48,1.32,...,NaN,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,54.545455,0.0,0.000000,True
8675,Éthiopie,238,Huile de Palme,2577,vegetaux,0,18,53,2.18,5.97,...,NaN,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,8.071749,0.0,NaN,True
8716,Éthiopie,238,Sorgho,2518,vegetaux,0,1500,216,25.51,2.08,...,9.083823,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,36.092397,0.0,0.276625,True

In [159]:
# Calcul de la somme des exportations de chaque produit pour les pays sous-nutri (conserver les 15 plus grandes)
# on fait une agrégation

sous_nutrition_FAO_export = sous_nutrition_FAO_true.groupby(by =['zone','origine','produit_x',\
                                                                 'ratio_nour_anim_anim_humain',
                                                                'ratio_autre_util_disp_interieure',
                                                                 'ratio_export_production'], dropna=True).agg({"Exportations":"sum"})
sous_nutrition_FAO_export = sous_nutrition_FAO_export.reset_index()
sous_nutrition_FAO_export

,zone,origine,produit_x,ratio_nour_anim_anim_humain,ratio_autre_util_disp_interieure,ratio_export_production,Exportations
0,Afghanistan,vegetaux,Huil Plantes Oleif Autr,0.0,99.445983,0.000000,0
1,Afghanistan,vegetaux,Huile Graines de Coton,0.0,20.000000,0.000000,0
2,Afrique du Sud,animaux,Abats Comestible,0.0,15.894040,4.149378,10
3,Afrique du Sud,animaux,Graisses Animales Crue,0.0,72.881356,15.151515,5
4,Afrique du Sud,animaux,Viande de Bovins,0.0,1.040583,2.938090,28
...,...,...,...,...,...,...,...
754,Équateur,vegetaux,"Sucre, canne",100.0,10.854987,0.000000,0
755,Éthiopie,vegetaux,Blé,0.0,32.613127,0.074276,3
756,Éthiopie,vegetaux,"Céréales, Autres",0.0,14.324985,0.000000,0
757,Éthiopie,vegetaux,Huil Plantes Oleif Autr,0.0,54.545455,0.000000,0
758,Éthiopie,vegetaux,Sorgho,0.0,36.092397,0.276625,12

In [160]:
# les 15 produits les plus exportés par ce groupe de pays
sous_nutrition_FAO_pays_15 = sous_nutrition_FAO_export.nlargest(15, ["Exportations"])

sous_nutrition_FAO_pays_15

,zone,origine,produit_x,ratio_nour_anim_anim_humain,ratio_autre_util_disp_interieure,ratio_export_production,Exportations
621,Thaïlande,vegetaux,Manioc,67.390490,33.221584,83.412730,25214
275,Indonésie,vegetaux,Huile de Palme,0.000000,67.689822,86.752677,23333
43,Argentine,vegetaux,Maïs,91.915609,16.063951,63.018774,20241
368,Malaisie,vegetaux,Huile de Palme,0.000000,56.303725,102.112823,19622
658,Ukraine,vegetaux,Maïs,95.957214,0.098661,54.332795,16816
653,Ukraine,vegetaux,Blé,46.706251,0.179115,37.393958,8331
675,Viet Nam,vegetaux,Riz (Eq Blanchi),16.987159,6.923472,23.663784,6951
264,Inde,vegetaux,Maïs,47.020046,0.247416,21.979390,5119
41,Argentine,vegetaux,Huile de Soja,0.000000,94.431336,68.055340,4378
75,Bulgarie,vegetaux,Blé,23.380035,1.093156,73.696639,4057
495,Pakistan,vegetaux,Riz (Eq Blanchi),0.000000,11.122449,56.140092,3799
657,Ukraine,vegetaux,Huile de Tournesol,0.000000,1.629328,96.179841,3273
421,Mexique,vegetaux,Sucre Eq Brut,0.000000,1.162290,43.139785,3009
514,Paraguay,vegetaux,Maïs,24.105461,0.102459,69.902913,2880
38,Argentine,animaux,Lait - Excl Beurre,3.266332,0.872539,24.874821,2782

Parmi les données des bilans alimentaires au niveau mondial, sélectionnez les 200 plus grandes importations de ces produits (1 importation = une quantité d'un produit donné importée par un pays donné)

In [161]:
# Calcul de la somme des Importations de chaque produit au niveau mondiale
#(on utilise le bilan alimentaire le dataframe sous_nutrition_FAO_pays)
sous_nutrition_FAO_import = sous_nutrition_FAO.groupby(by =["code_zone","zone", "origine","produit_x"]).agg({"Importations":"sum"})
sous_nutrition_FAO_import = sous_nutrition_FAO_import.reset_index()
sous_nutrition_FAO_import

      code_zone     zone   origine                 produit_x  Importations
0             1  Arménie   animaux          Abats Comestible             2
1             1  Arménie   animaux          Viande de Bovins             7
2             1  Arménie   animaux          Viande de Suides            19
3             1  Arménie  vegetaux          Céréales, Autres             4
4             1  Arménie  vegetaux   Huil Plantes Oleif Autr             2
...         ...      ...       ...                       ...           ...
1061        276   Soudan  vegetaux    Arachides Decortiquees             0
1062        276   Soudan  vegetaux   Huil Plantes Oleif Autr            13
1063        276   Soudan  vegetaux            Huile de Palme             4
1064        276   Soudan  vegetaux  Plantes Oleiferes, Autre            14
1065        276   Soudan  vegetaux                    Sorgho            99

[1066 rows x 5 columns]

In [162]:
# Ces 200 protuits doivent correspondre aux 15 produits les plus exporté 
sous_nutrition_FAO_import["is_present_15"] = (sous_nutrition_FAO_import["produit_x"]).isin(sous_nutrition_FAO_pays_15.produit_x)

sous_nutrition_FAO_import

,code_zone,zone,origine,produit_x,Importations,is_present_15
0,1,Arménie,animaux,Abats Comestible,2,False
1,1,Arménie,animaux,Viande de Bovins,7,False
2,1,Arménie,animaux,Viande de Suides,19,False
3,1,Arménie,vegetaux,"Céréales, Autres",4,False
4,1,Arménie,vegetaux,Huil Plantes Oleif Autr,2,False
...,...,...,...,...,...,...
1061,276,Soudan,vegetaux,Arachides Decortiquees,0,False
1062,276,Soudan,vegetaux,Huil Plantes Oleif Autr,13,False
1063,276,Soudan,vegetaux,Huile de Palme,4,True
1064,276,Soudan,vegetaux,"Plantes Oleiferes, Autre",14,False
1065,276,Soudan,vegetaux,Sorgho,99,False

In [163]:
# Nous allons faire un filtre pour sélectionner les pays en sous nutrition: is_present_15 == True

sous_nutrition_FAO_import_contenant_15= sous_nutrition_FAO_import[sous_nutrition_FAO_import.is_present_15 == True]
sous_nutrition_FAO_import_contenant_15

,code_zone,zone,origine,produit_x,Importations,is_present_15
5,1,Arménie,vegetaux,Huile de Palme,1,True
6,1,Arménie,vegetaux,Huile de Tournesol,29,True
12,2,Afghanistan,vegetaux,Huile de Palme,119,True
13,3,Albanie,animaux,Lait - Excl Beurre,23,True
15,3,Albanie,vegetaux,Blé,360,True
...,...,...,...,...,...,...
1048,251,Zambie,vegetaux,Riz (Eq Blanchi),18,True
1053,272,Serbie,vegetaux,Huile de Palme,24,True
1054,272,Serbie,vegetaux,Huile de Tournesol,23,True
1055,272,Serbie,vegetaux,Maïs,11,True
1063,276,Soudan,vegetaux,Huile de Palme,4,True

In [164]:
# Les 200 produits les plus importés par les 15 groupes de pays sont: 
sous_nutrition_FAO_import_200 = sous_nutrition_FAO_import_contenant_15.nlargest(200, ["Importations"])

sous_nutrition_FAO_import_200

,code_zone,zone,origine,produit_x,Importations,is_present_15
191,41,"Chine, continentale",vegetaux,Manioc,29046,True
364,100,Inde,vegetaux,Huile de Palme,8568,True
591,138,Mexique,vegetaux,Maïs,7261,True
378,101,Indonésie,vegetaux,Blé,7074,True
187,41,"Chine, continentale",vegetaux,Huile de Palme,6811,True
...,...,...,...,...,...,...
640,149,Népal,vegetaux,Huile de Palme,83,True
901,222,Tunisie,vegetaux,Huile de Palme,83,True
273,60,El Salvador,vegetaux,Huile de Palme,82,True
327,89,Guatemala,vegetaux,Huile de Soja,82,True
853,215,République-Unie de Tanzanie,vegetaux,Maïs,80,True

Groupez ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15 produits.

In [165]:
sous_nutrition_FAO_import_200_15 = sous_nutrition_FAO_import_200.groupby(by =['produit_x']).sum()
sous_nutrition_FAO_import_200_15 = sous_nutrition_FAO_import_200.reset_index()
sous_nutrition_FAO_import_200_15

,index,code_zone,zone,origine,produit_x,Importations,is_present_15
0,191,41,"Chine, continentale",vegetaux,Manioc,29046,True
1,364,100,Inde,vegetaux,Huile de Palme,8568,True
2,591,138,Mexique,vegetaux,Maïs,7261,True
3,378,101,Indonésie,vegetaux,Blé,7074,True
4,187,41,"Chine, continentale",vegetaux,Huile de Palme,6811,True
...,...,...,...,...,...,...,...
195,640,149,Népal,vegetaux,Huile de Palme,83,True
196,901,222,Tunisie,vegetaux,Huile de Palme,83,True
197,273,60,El Salvador,vegetaux,Huile de Palme,82,True
198,327,89,Guatemala,vegetaux,Huile de Soja,82,True
199,853,215,République-Unie de Tanzanie,vegetaux,Maïs,80,True

Calcul pour chaque produit le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure

In [166]:
sous_nutrition_FAO["ratio_autres_util_disp_int"] = 100 * sous_nutrition_FAO["Autres_utilisations"] \
                                                            / sous_nutrition_FAO["Disp_interieure"]

# Filtre les valeurs ratio_autres_util_disp_int > 0

sous_nutrition_FAO = sous_nutrition_FAO[sous_nutrition_FAO["ratio_autres_util_disp_int"] > 0]
sous_nutrition_FAO

<ipython-input-166-fca48d03fd1c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sous_nutrition_FAO["ratio_autres_util_disp_int"] = 100 * sous_nutrition_FAO["Autres_utilisations"] \

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,produit,code_produit,2012-2014,2013-2015,pop_sous_nutri_2013,ratio_autre_util_disp_interieure,ratio_nour_anim_anim_humain,ratio_export_production,is_sous_nutri,ratio_autres_util_disp_int
20,Afghanistan,2,Huil Plantes Oleif Autr,2586,vegetaux,0,359,2,0.08,0.21,...,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,99.445983,0.0,0.000000,True,99.445983
21,Afghanistan,2,Huile Graines de Coton,2575,vegetaux,0,1,3,0.12,0.34,...,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,20.000000,0.0,0.000000,True,20.000000
25,Afghanistan,2,Huile de Palme,2577,vegetaux,0,55,51,2.09,5.74,...,Nombre de personnes sous-alimentées (millions)...,210011,7900000,8800000,8350000.0,46.218487,0.0,NaN,True,46.218487
60,Afrique du Sud,202,Abats Comestible,2736,animaux,0,48,17,4.81,0.53,...,Nombre de personnes sous-alimentées (millions)...,210011,2600000,2800000,2700000.0,15.894040,0.0,4.149378,True,15.894040
62,Afrique du Sud,202,"Alcool, non Comestible",2659,vegetaux,0,38,0,0.00,0.00,...,Nombre de personnes sous-alimentées (millions)...,210011,2600000,2800000,2700000.0,100.000000,NaN,88.557214,True,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8648,Éthiopie,238,Blé,2511,vegetaux,0,1600,284,31.26,0.88,...,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,32.613127,0.0,0.074276,True,32.613127
8657,Éthiopie,238,"Céréales, Autres",2520,vegetaux,0,469,254,26.52,0.77,...,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,14.324985,0.0,0.000000,True,14.324985
8668,Éthiopie,238,Huil Plantes Oleif Autr,2586,vegetaux,0,54,12,0.48,1.32,...,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,54.545455,0.0,0.000000,True,54.545455
8675,Éthiopie,238,Huile de Palme,2577,vegetaux,0,18,53,2.18,5.97,...,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,8.071749,0.0,NaN,True,8.071749
8716,Éthiopie,238,Sorgho,2518,vegetaux,0,1500,216,25.51,2.08,...,Nombre de personnes sous-alimentées (millions)...,210011,25300000,23800000,24550000.0,36.092397,0.0,0.276625,True,36.092397

Calcul du ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)

In [167]:
sous_nutrition_FAO["ratio_nour_anim_anim_humain"] = 100* (sous_nutrition_FAO["Aliments_animaux"] /(sous_nutrition_FAO["Aliments_animaux"]+ sous_nutrition_FAO["Nourriture"]))

# Filtre des valeurs ratio_autres_util_disp_int > 0
sous_nutrition_FAO = sous_nutrition_FAO[sous_nutrition_FAO["ratio_nour_anim_anim_humain"] > 0]
sous_nutrition_FAO

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,produit,code_produit,2012-2014,2013-2015,pop_sous_nutri_2013,ratio_autre_util_disp_interieure,ratio_nour_anim_anim_humain,ratio_export_production,is_sous_nutri,ratio_autres_util_disp_int
135,Afrique du Sud,202,Pommes de Terre,2531,vegetaux,217,103,60,30.66,0.08,...,Nombre de personnes sous-alimentées (millions)...,210011,2600000,2800000,2700000.0,4.844779,11.825613,6.853726,True,4.844779
167,Albanie,3,Blé,2511,vegetaux,18,130,1056,138.64,5.85,...,Nombre de personnes sous-alimentées (millions)...,210011,200000,200000,200000.0,20.000000,3.930131,1.360544,True,20.000000
200,Albanie,3,Lait - Excl Beurre,2848,animaux,101,2,533,303.72,31.43,...,Nombre de personnes sous-alimentées (millions)...,210011,200000,200000,200000.0,0.173461,9.483568,0.000000,True,0.173461
204,Albanie,3,Maïs,2514,vegetaux,361,3,13,1.79,0.04,...,Nombre de personnes sous-alimentées (millions)...,210011,200000,200000,200000.0,0.714286,98.365123,0.000000,True,0.714286
214,Albanie,3,Orge,2513,vegetaux,7,1,1,0.16,0.00,...,Nombre de personnes sous-alimentées (millions)...,210011,200000,200000,200000.0,5.263158,87.500000,0.000000,True,5.263158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8555,Équateur,58,Blé,2511,vegetaux,1,3,302,39.19,1.32,...,Nombre de personnes sous-alimentées (millions)...,210011,1300000,1300000,1300000.0,0.481541,0.161812,83.333333,True,0.481541
8589,Équateur,58,Lait - Excl Beurre,2848,animaux,124,1,228,139.60,13.96,...,Nombre de personnes sous-alimentées (millions)...,210011,1300000,1300000,1300000.0,0.042248,5.342525,0.422476,True,0.042248
8593,Équateur,58,Maïs,2514,vegetaux,830,633,66,8.30,0.78,...,Nombre de personnes sous-alimentées (millions)...,210011,1300000,1300000,1300000.0,37.455621,86.368366,0.064809,True,37.455621
8617,Équateur,58,Pommes de Terre,2531,vegetaux,2,7,38,19.33,0.10,...,Nombre de personnes sous-alimentées (millions)...,210011,1300000,1300000,1300000.0,1.907357,0.653595,0.000000,True,1.907357
8627,Équateur,58,"Sucre, canne",2536,vegetaux,120,777,0,0.00,0.00,...,Nombre de personnes sous-alimentées (millions)...,210011,1300000,1300000,1300000.0,10.854987,100.000000,0.000000,True,10.854987

Donnez les 3 produits qui ont la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer)

In [168]:
# les 3 produits du ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure.
ratio_autres_util_disp_int_3 = sous_nutrition_FAO.nlargest(3, ["ratio_autres_util_disp_int"])
ratio_autres_util_disp_int_3

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,produit,code_produit,2012-2014,2013-2015,pop_sous_nutri_2013,ratio_autre_util_disp_interieure,ratio_nour_anim_anim_humain,ratio_export_production,is_sous_nutri,ratio_autres_util_disp_int
1576,"Chine, Taiwan Province de",214,Manioc,2532,vegetaux,1,1317,0,0.05,0.00,...,Nombre de personnes sous-alimentées (millions)...,210011,1000000,900000,950000.0,99.772727,50.0000,546.666667,True,99.772727
4347,Malaisie,131,Manioc,2532,vegetaux,3,836,6,2.04,0.02,...,Nombre de personnes sous-alimentées (millions)...,210011,1000000,900000,950000.0,92.580288,4.6875,6.349206,True,92.580288
8458,Émirats arabes unis,225,Avoine,2516,vegetaux,2,6,0,0.00,0.00,...,Nombre de personnes sous-alimentées (millions)...,210011,400000,300000,350000.0,75.000000,100.0000,inf,True,75.000000

In [169]:
# # les 3 produits du ratio entre la quantité destinée à la nourriture animale et la quantité 
#destinée à la nourriture (animale + humaine).
ratio_nour_anim_anim_humain_3 = sous_nutrition_FAO.nlargest(3, ["ratio_nour_anim_anim_humain"])
ratio_nour_anim_anim_humain_3

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,produit,code_produit,2012-2014,2013-2015,pop_sous_nutri_2013,ratio_autre_util_disp_interieure,ratio_nour_anim_anim_humain,ratio_export_production,is_sous_nutri,ratio_autres_util_disp_int
313,Algérie,4,"Plantes Oleiferes, Autre",2570,vegetaux,1,3,0,0.0,0.0,...,Nombre de personnes sous-alimentées (millions)...,210011,1700000,1600000,1650000.0,60.000000,100.0,NaN,True,60.000000
666,Arménie,1,Orge,2513,vegetaux,137,26,0,0.0,0.0,...,Nombre de personnes sous-alimentées (millions)...,210011,100000,100000,100000.0,13.131313,100.0,0.000000,True,13.131313
871,Bolivie (État plurinational de),19,Sorgho,2518,vegetaux,789,7,0,0.0,0.0,...,Nombre de personnes sous-alimentées (millions)...,210011,2200000,2000000,2100000.0,0.865266,100.0,2.923264,True,0.865266

# Question 13

Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10% ?

In [170]:
# On fait un filtre sur la colonne "zone" pour avoir la zone USA
cereales_zone_USA = vegetaux_nutrition[vegetaux_nutrition["zone"] =="États-Unis d'Amérique"]
cereales_zone_USA

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Aliments_animaux_vege_kcal,Pertes_vege_kcal,Nour_AlimAnimaux_Pertes_vege_kcal,Disp_alim_prot_vege_kg,Aliments_animaux_prot_vege_kg,Pertes_prot_vege_kg,Nour_AlimAnimaux_Pertes_prot_vege_kg,Nourriture_mondiale_anim_vege_kcal,Nourriture_pays_anim_vege_prot_kg,is_cereal
15341,États-Unis d'Amérique,231,"Agrumes, Autres",2614,vegetaux,0,0,0,0.16,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
15342,États-Unis d'Amérique,231,"Alcool, non Comestible",2659,vegetaux,0,478,0,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
15343,États-Unis d'Amérique,231,Aliments pour enfants,2680,vegetaux,0,0,0,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
15344,États-Unis d'Amérique,231,Ananas,2618,vegetaux,0,0,7,6.35,0.02,...,0.0,2.293830e+10,NaN,5.840931e+06,0.0,1.638450e+05,6.004776e+06,8.177303e+11,5.840931e+06,False
15346,États-Unis d'Amérique,231,Arachides Decortiquees,2556,vegetaux,0,0,51,3.07,4.43,...,0.0,0.000000e+00,NaN,2.698510e+08,0.0,0.000000e+00,2.698510e+08,5.957749e+12,2.698510e+08,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15425,États-Unis d'Amérique,231,Sésame,2561,vegetaux,0,0,2,0.10,0.13,...,0.0,1.507337e+10,NaN,5.840931e+06,0.0,3.768342e+05,6.217765e+06,2.336372e+11,5.840931e+06,False
15426,États-Unis d'Amérique,231,Thé,2635,vegetaux,0,0,0,0.52,0.00,...,NaN,NaN,NaN,1.401823e+07,0.0,0.000000e+00,1.401823e+07,NaN,1.401823e+07,False
15427,États-Unis d'Amérique,231,Tomates,2601,vegetaux,0,0,18,37.74,0.21,...,0.0,1.235879e+11,NaN,9.695945e+07,0.0,5.698776e+06,1.026582e+08,2.102735e+12,9.695945e+07,False
15433,États-Unis d'Amérique,231,Vin,2655,vegetaux,0,1199,16,8.47,0.00,...,0.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,1.869098e+12,NaN,False
15434,États-Unis d'Amérique,231,"Épices, Autres",2645,vegetaux,0,0,4,0.41,0.10,...,0.0,0.000000e+00,NaN,1.285005e+07,0.0,0.000000e+00,1.285005e+07,4.672745e+11,1.285005e+07,False

In [171]:
# on refait un filtre pour avoir la production en céréales des USA
cereales_production_USA = cereales_zone_USA[cereales_zone_USA["is_cereal"] == True]
cereales_production_USA

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Aliments_animaux_vege_kcal,Pertes_vege_kcal,Nour_AlimAnimaux_Pertes_vege_kcal,Disp_alim_prot_vege_kg,Aliments_animaux_prot_vege_kg,Pertes_prot_vege_kg,Nour_AlimAnimaux_Pertes_prot_vege_kg,Nourriture_mondiale_anim_vege_kcal,Nourriture_pays_anim_vege_prot_kg,is_cereal
15347,États-Unis d'Amérique,231,Avoine,2516,vegetaux,1430,0,19,3.95,0.31,...,2.509061e+12,0.000000e+00,NaN,9.228671e+07,1.043241e+08,0.000000e+00,1.966108e+08,2.219554e+12,9.228671e+07,True
15352,États-Unis d'Amérique,231,Blé,2511,vegetaux,6196,16,599,80.43,2.85,...,1.684256e+13,0.000000e+00,NaN,2.260440e+09,5.440792e+08,0.000000e+00,2.804519e+09,6.997435e+13,2.260440e+09,True
15361,États-Unis d'Amérique,231,"Céréales, Autres",2520,vegetaux,77,0,5,0.62,0.02,...,2.248758e+11,0.000000e+00,NaN,1.752279e+07,6.746275e+06,0.000000e+00,2.426907e+07,5.840931e+11,1.752279e+07,True
15391,États-Unis d'Amérique,231,Maïs,2514,vegetaux,128024,137023,92,12.24,0.26,...,3.512673e+14,0.000000e+00,NaN,1.950871e+08,6.376265e+09,0.000000e+00,6.571352e+09,1.074731e+13,1.950871e+08,True
15393,États-Unis d'Amérique,231,Millet,2517,vegetaux,394,0,0,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
15401,États-Unis d'Amérique,231,Orge,2513,vegetaux,1440,0,5,0.50,0.03,...,5.256838e+12,0.000000e+00,NaN,1.635461e+07,1.471915e+08,0.000000e+00,1.635461e+08,5.840931e+11,1.635461e+07,True
15418,États-Unis d'Amérique,231,Riz (Eq Blanchi),2805,vegetaux,0,142,72,6.88,0.08,...,0.000000e+00,7.635897e+11,NaN,1.553688e+08,0.000000e+00,1.410520e+07,1.694740e+08,8.410940e+12,1.553688e+08,True
15419,États-Unis d'Amérique,231,Seigle,2515,vegetaux,184,0,2,0.27,0.01,...,4.941293e+11,0.000000e+00,NaN,8.177303e+06,1.729453e+07,0.000000e+00,2.547183e+07,2.336372e+11,8.177303e+06,True
15421,États-Unis d'Amérique,231,Sorgho,2518,vegetaux,2351,0,7,0.74,0.07,...,8.146118e+12,0.000000e+00,NaN,2.336372e+07,2.327462e+08,0.000000e+00,2.561100e+08,8.177303e+11,2.336372e+07,True

In [172]:
# Diminution de la production de 10% au USA en milliers tonnes
cereales_aliment_animaux_USA= cereales_production_USA.Aliments_animaux.sum()
cereales_aliment_animaux_USA

140096

In [173]:
# Tonne de céréales libérées si diminution de la production de produits animaux de 10%.
cereales_aliment_animaux_USA_10= cereales_aliment_animaux_USA *1000 *0.1
cereales_aliment_animaux_USA_10

14009600.0

In [174]:
message_USA = ("Si les USA dimunue leur production de produits animaux en terme de céréales, cela pourrait libérérer 14 \
 millions de tonnes de céréales qui serait destinées à l'alimentation humaine" )
print(message_USA)

Si les USA dimunue leur production de produits animaux en terme de céréales, cela pourrait libérérer 14  millions de tonnes de céréales qui serait destinées à l'alimentation humaine

In [175]:
# on fait un filtre pour avoir la disponibilité intérieure  en céréales en Zambie
cereales_zone_zambie =  vegetaux_nutrition[vegetaux_nutrition["zone"] =="Zambie"]
cereales_zone_zambie

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Aliments_animaux_vege_kcal,Pertes_vege_kcal,Nour_AlimAnimaux_Pertes_vege_kcal,Disp_alim_prot_vege_kg,Aliments_animaux_prot_vege_kg,Pertes_prot_vege_kg,Nour_AlimAnimaux_Pertes_prot_vege_kg,Nourriture_mondiale_anim_vege_kcal,Nourriture_pays_anim_vege_prot_kg,is_cereal
14875,Zambie,251,"Agrumes, Autres",2614,vegetaux,0,0,0,0.12,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
14876,Zambie,251,"Alcool, non Comestible",2659,vegetaux,0,6,0,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
14877,Zambie,251,Aliments pour enfants,2680,vegetaux,0,0,0,0.04,0.00,...,NaN,NaN,NaN,106134.70,0.0,0.000000e+00,1.061347e+05,NaN,106134.70,False
14878,Zambie,251,Ananas,2618,vegetaux,0,0,0,0.04,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
14879,Zambie,251,Arachides Decortiquees,2556,vegetaux,0,0,72,5.03,5.91,...,0.0,3.663828e+10,NaN,16238609.10,0.0,1.557127e+06,1.779574e+07,3.820849e+11,16238609.10,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14957,Zambie,251,Sésame,2561,vegetaux,0,0,0,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
14958,Zambie,251,Thé,2635,vegetaux,0,0,0,0.14,0.00,...,NaN,NaN,NaN,212269.40,0.0,0.000000e+00,2.122694e+05,NaN,212269.40,False
14959,Zambie,251,Tomates,2601,vegetaux,0,0,1,1.86,0.01,...,0.0,5.896372e+08,NaN,265336.75,0.0,2.948186e+04,2.948186e+05,5.306735e+09,265336.75,False
14965,Zambie,251,Vin,2655,vegetaux,0,0,0,0.01,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
14966,Zambie,251,"Épices, Autres",2645,vegetaux,0,0,2,0.20,0.08,...,0.0,0.000000e+00,NaN,318404.10,0.0,0.000000e+00,3.184041e+05,1.061347e+10,318404.10,False

In [176]:
# on refait un filtre pour avoir la disponibilité intérieure  en céréales en Zambie
cereales_production_zambie = cereales_zone_zambie[cereales_zone_zambie["is_cereal"] == True]
cereales_production_zambie

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,Aliments_animaux_vege_kcal,Pertes_vege_kcal,Nour_AlimAnimaux_Pertes_vege_kcal,Disp_alim_prot_vege_kg,Aliments_animaux_prot_vege_kg,Pertes_prot_vege_kg,Nour_AlimAnimaux_Pertes_prot_vege_kg,Nourriture_mondiale_anim_vege_kcal,Nourriture_pays_anim_vege_prot_kg,is_cereal
14880,Zambie,251,Avoine,2516,vegetaux,0,0,0,0.03,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
14885,Zambie,251,Blé,2511,vegetaux,0,12,97,12.10,0.36,...,0.000000e+00,1.754841e+10,NaN,1.549567e+07,0.000000e+00,5.282613e+05,1.602393e+07,5.147533e+11,1.549567e+07,True
14894,Zambie,251,"Céréales, Autres",2520,vegetaux,0,0,0,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
14923,Zambie,251,Maïs,2514,vegetaux,400,19,999,118.68,10.75,...,1.229317e+12,2.335702e+11,NaN,1.396202e+08,3.237570e+07,6.151383e+06,1.781473e+08,5.301428e+12,1.396202e+08,True
14925,Zambie,251,Millet,2517,vegetaux,2,0,4,0.60,0.06,...,4.717098e+09,4.717098e+09,NaN,6.898756e+05,1.533057e+05,1.533057e+05,9.964869e+05,2.122694e+10,6.898756e+05,True
14933,Zambie,251,Orge,2513,vegetaux,0,0,0,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
14950,Zambie,251,Riz (Eq Blanchi),2805,vegetaux,0,1,30,3.05,0.05,...,0.000000e+00,7.236457e+09,NaN,3.024839e+06,0.000000e+00,1.374927e+05,3.162332e+06,1.592020e+11,3.024839e+06,True
14951,Zambie,251,Seigle,2515,vegetaux,0,0,0,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
14953,Zambie,251,Sorgho,2518,vegetaux,0,0,5,0.68,0.05,...,0.000000e+00,5.306735e+09,NaN,7.960102e+05,0.000000e+00,1.592020e+05,9.552123e+05,2.653368e+10,7.960102e+05,True

In [177]:
# Proportion de la disponibilité intérieure de la Zambie en terme de céréales par rapport au USA
cereales_zambie_disp_interieurs= cereales_production_zambie.Disp_interieure.sum()
cereales_zambie_disp_interieurs

2598

In [178]:
message_Zambie_disp_intérieure_cereale = ("Le fait que que les USA libère 14 millions de tonnes de céréale cela représente \
140096/2598 soit 54 fois la disponibilité intérieure de la Zambie en terme de céréales")
print(message_Zambie_disp_intérieure_cereale)

Le fait que que les USA libère 14 millions de tonnes de céréale cela représente 140096/2598 soit 54 fois la disponibilité intérieure de la Zambie en terme de céréales

In [179]:
zambie_disponibilité_interieure_totale = cereales_zone_zambie.Disp_interieure.sum()
zambie_disponibilité_interieure_totale

9537

In [180]:
message_Zambie_disponibilité_interieure_totale = ("Le fait que que les USA libère 14 millions de tonnes de céréale cela représente \
140096/9537 soit 15 fois la disponibilité intérieure totale de la Zambie")
print(message_Zambie_disponibilité_interieure_totale)

Le fait que que les USA libère 14 millions de tonnes de céréale cela représente 140096/9537 soit 15 fois la disponibilité intérieure totale de la Zambie

# Question 14

En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition?

In [181]:
manioc_thai_exporte= sous_nutrition_FAO_export[sous_nutrition_FAO_export["zone"] == "Thaïlande"]
# puis on fait un filtre dans la colonne "produit_x " pour avoir manioc
manioc_thai_exporte = manioc_thai_exporte[manioc_thai_exporte["produit_x"]== "Manioc"]

manioc_thai_exporte

# la Thaïlande exporte 25214 tonnes de maniocs

,zone,origine,produit_x,ratio_nour_anim_anim_humain,ratio_autre_util_disp_interieure,ratio_export_production,Exportations
621,Thaïlande,vegetaux,Manioc,67.39049,33.221584,83.41273,25214

In [182]:
message = " La Thaïlande exporte 83.4% de sa production en manioc"
print(message)

 La Thaïlande exporte 83.4% de sa production en manioc

In [183]:
# on fait un filtre de la colonne zone pour avoir la Thaïlande 
manioc_thai = animaux_vegetaux_pop[animaux_vegetaux_pop["zone"]== "Thaïlande"]
# puis on fait un filtre dans la colonne "produit_x " pour avoir manioc
manioc_thai = manioc_thai[manioc_thai["produit_x"]== "Manioc"]
manioc_thai

,zone,code_zone,produit_x,code_produit_x,origine,Aliments_animaux,Autres_utilisations,Disp_alimentaire(Kcal/personne/jour),Dispo_alimentaire(kg/personne/an),Disp_matière_grasse(g/personne/jour),...,valeur,symbole,description_symbole,Population_totale,Disp_alim_AniVegPop_kcal,Disp_prot_AniVegPop_kg,Nourriture_kg,Energie/poids(kcal/kg),ratio_poidsprot,poids_proteines/poids_total_%
13809,Thaïlande,216,Manioc,2532,vegetaux,1800,2081,40,13.0,0.05,...,67011,NaN,Donnée officielle,67011000,978360600000,3424262.1,871000000.0,1123.261309,0.003931,0.393141

In [184]:
manioc_thai["Production"]
#30228 tonnes

13809    30228
Name: Production, dtype: int64

In [185]:

# Proportion de manioc exporté
#ratio_manioc_thai_exporte = manioc_thai["Exportations"]/ manioc_thai["Production"] *100
#ratio_manioc_thai_exporte
# 83.4%

In [186]:
# manioc_thai["Exportations"] = 25214
# manioc_thai["Disp_interieure"] = 6264

La proportion de personnes en sous-nutrition en Thaïlande sera égale à (personnes sous nutris/ population totale en Thaïlande) * 100

In [187]:
sous_nutrition_pivot_2013_thai = sous_nutrition_pivot_join[sous_nutrition_pivot_join["zone"] == "Thaïlande"]
sous_nutrition_pivot_2013_thai

,zone,code_zone,produit_x,code_produit_x,2012-2014,2013-2015,pop_sous_nutri_2013,code_domaine,domaine,code_element,...,code_produit_y,produit_y,code_annee,annee,unite,valeur,symbole,description_symbole,Population_totale,proportion_pop_sous_nutri_2013
83,Thaïlande,216,Nombre de personnes sous-alimentées (millions)...,210011,5600000,5500000,5550000.0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,511,...,2501,Population,2013,2013,1000 personnes,67011,NaN,Donnée officielle,67011000,8.282222

In [188]:
proportion_personnes_nutri_Thaï = sous_nutrition_pivot_2013_thai.iloc[0].proportion_pop_sous_nutri_2013
proportion_personnes_nutri_Thaï
#Donc 8.3 % de personnes sous nutri en Thaïlande

8.282222321708376

In [189]:
message = "En Thaïlande on trouve 8.3% de personnes en sous-nutrition"
print(message)

En Thaïlande on trouve 8.3% de personnes en sous-nutrition